<template>
    <div class="container" style="max-width:850px">
      <el-row>
          <el-col :md="24">
              <h2>Nuevo Cliente</h2>
              <div v-if="estado === 'repetido'">
                  <el-card class="box-cliente">
                      <h2>El cliente con DNI:<strong>{{nuevo.dni}}</strong> ya se encuentra registrado</h2>
                      
 <el-button
          
          type="primary"
           @click="getOpcion(nuevo.id, 'terreno')"
          >Agregar otro cliente</el-button>
          <el-button
          
          type="default"
           @click="estado = 'agregar'"
          >Detalles</el-button>
                  </el-card>
              </div>
              <div v-if="estado === 'agregado'">
                  <el-card class="box-cliente">
                      <h2>El cliente <strong>{{nuevo.nombre}}</strong> fue agregado correctamente</h2>
                       <el-button
          
          type="primary"
           @click="getOpcion(nuevo.id, 'terreno')"
          >Detalles</el-button>
  <el-button
          
          type="default"
           @click="estado = 'agregar'"
          >Agregar otro cliente</el-button>
                  </el-card>
              </div>
              <el-card>
              <el-form :label-position="'top'" :model="cliente" ref="cliente" label-width="120px" class="demo-dynamic" v-if="estado === 'agregar'">
                  <el-row :gutter="20">
                     <el-col :md="16">
                         <el-form-item
                    prop="nombre"
                    label="Nombre y Apellido"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                    <el-input v-model="cliente.nombre"></el-input>
                </el-form-item>
                     </el-col>
                      <el-col :md="8">
                         <el-form-item
                    prop="dni"
                    label="DNI sin puntos"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                  
                    ]"
                >
                    <el-input type="number" v-model="cliente.dni"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="16">
                         <el-form-item
                    prop="direccion"
                    label="Dirección"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.direccion"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="8">
                         <el-form-item
                    prop="telefono"
                    label="Teléfono"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.telefono"></el-input>
                </el-form-item>
                     </el-col>
                   
                        <el-col :md="8">
                         <el-form-item
                    prop="localidad"
                    label="Localidad"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-select v-model="cliente.localidad" filterable placeholder="localidad">
    <el-option
      v-for="item in localidades"
      :key="item.nombre"
      :label="item.nombre"
      :value="item.nombre">
    </el-option>
  </el-select>
                </el-form-item>
                     </el-col>
                        <el-col :md="8">
                         <el-form-item
                    prop="provincia"
                    label="Provincia"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <!-- <el-input v-model="cliente.provincia"></el-input> -->
                      <el-select v-model="cliente.provincia" autocomplete="off" filterable placeholder="Provincia">
    <el-option
      v-for="item in provincias"
      :key="item.nombre"
      :label="item.nombre"
      :value="item.nombre">
    </el-option>
  </el-select>
                </el-form-item>
                     </el-col>
                       <el-col :md="4">
                         <el-form-item
                    prop="cp"
                    label="Código postal"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.cp"></el-input>
                </el-form-item>
                     </el-col>
                       <el-col :md="12">
                         <el-form-item
                    prop="ocupacion"
                    label="Ocupación"
                   
                >
                    <el-input v-model="cliente.ocupacion"></el-input>
                </el-form-item>
                     </el-col>
                       <el-col :md="8">
                         <el-form-item
                    prop="ingreso"
                    label="Fecha de Ingreso"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-date-picker
      v-model="cliente.ingreso"
      type="date"
      format="dd/MM/yyyy"
      placeholder="Ingreso">
    </el-date-picker>
                </el-form-item>
                     </el-col>
                  </el-row>
                

  <el-form-item style="margin-top:30px">
    <el-button type="primary" class="w100" @click="submitForm('cliente')">Agregar cliente</el-button>
  
  </el-form-item>
</el-form>
              </el-card>
          </el-col>
      </el-row>
    </div>
</template>

<script>
import { HTTP } from '@/axios.js'
    export default {
        data() {
            return {
                estado: 'agregar',
                nuevo:'',
                 cliente: {},
                 provincias: [
                   {nombre: 'Buenos Aires'},
                   {nombre: 'Catamarca'},
                   {nombre: 'Chaco'},
                   {nombre: 'Chubut'},
                   {nombre: 'Ciudad Autónoma de Buenos Aires'},
                   {nombre: 'Córdoba'},
                   {nombre: 'Corrientes'},
                   {nombre: 'Entre Ríos'},
                   {nombre: 'Formosa'},
                   {nombre: 'Jujuy'},
                    {nombre: 'La Pampa'},
                     {nombre: 'La Rioja'},
                     {nombre: 'Mendoza'},
                   {nombre: 'Misiones'},
                    {nombre: 'Neuquén'},
                     {nombre: 'Río Negro'},
                      {nombre: 'Salta'},
                      
                       {nombre: 'San Juan'},
                   {nombre: 'San Luis'},
                     {nombre: 'Santa Cruz'},
                   {nombre: 'Santa Fe'},
                   
                 
                  
                   
                  
                  
                   {nombre: 'Santiago del Estero'},
                  
                   {nombre: 'Tucumán'},
                  
                  
                   
                   
                   {nombre: 'Tierra del Fuego'},
                   ],
                 localidades: [
                   {nombre:"Burruyacú"},
                   {nombre:"Capital"},
                   {nombre:"Chicligasta"},
                   {nombre:"Cruz Alta"},
                   {nombre:"Famaillá"},
                   {nombre: 'Graneros'},
                   {nombre: 'Juan Bautista Alberdi'},
                   {nombre: 'La Cocha'},
                   {nombre: 'Leales'},
                   {nombre: 'Lules'},
                   {nombre: 'Monteros'},
                   {nombre: 'Río Chico'},
               
                    {nombre: 'Simoca'},
                         {nombre: 'Tafí del Valle'},
                         {nombre: 'Tafí Viejo'},
                         {nombre: 'Trancas'},
                      {nombre: 'Yerba Buena'},
                      {nombre: 'Otro'}
                      ]
            }
        },
         methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            console.log('cliente submit!!', this.cliente);
            HTTP.post('/cliente/guardar', this.cliente)
                .then( res => {
                    console.log(res)
                    if(res.status === 200){
                    this.estado = 'repetido'
                    this.nuevo = res.data
                    }else{
this.resetForm(formName);
                    this.estado = 'agregado'
                    this.nuevo = res.data
                    }
                    
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
        getOpcion(cliente,direccion){
      console.log(cliente)
    
         this.$router.push('/cliente/' + cliente + '/' + direccion )
   
      
    }
    }
    }
</script>

<style scoped>
.box-cliente{
    text-align: center
}
</style>