<template>
    <div class="container">
      <el-row>
          <el-col :md="24">
              <el-card class="ficha">
                  <div class="datos">Datos personales</div>
                  <!-- <div class="datos-editar"><a :href="'/editar-cliente/' + cliente.id">Editar datos</a></div> -->
                  <el-row :gutter="30" class="table-col">
                      <el-col :md="16">
                           <strong>Nombre y Apellido: </strong>{{cliente.nombre}}
                      </el-col>
                       <el-col :md="8">
                 <strong>DNI: </strong> {{cliente.dni}}
                       </el-col>
                 </el-row>
                 <el-row :gutter="30" class="table-col">
                      <el-col :md="16">
                           <strong>Dirección: </strong>{{cliente.direccion}}
                      </el-col>
                       <el-col :md="8">
                 <strong>Teléfono: </strong> {{cliente.telefono}}
                       </el-col>
                 </el-row>
                 <el-row :gutter="30" class="table-col">
                      <el-col :md="8">
                           <strong>Localidad: </strong>{{cliente.localidad}}
                      </el-col>
                       <el-col :md="8">
                 <strong>Provincia: </strong> {{cliente.provincia}}
                       </el-col>
                        <el-col :md="8">
                 <strong>Cód Postal: </strong> {{cliente.cp}}
                       </el-col>
                 </el-row>
                   <el-row :gutter="30" class="table-col">
                      <el-col :md="24">
                           <strong>Fecha de ingreso: </strong>{{cliente.ingreso | moment("L") }}
                      </el-col>
                      
                 </el-row>
              </el-card>
              
              <el-card style="margin-top:10px">
              <el-tabs v-model="activeName" @tab-click="handleClick" >
    <el-tab-pane label="Parcelas" name="parcelas">
        <cliente-terreno :cliente="cliente" />
    </el-tab-pane>
    <el-tab-pane label="Cobros y Pagos" name="pagos">
        <cliente-pago :cliente="cliente" />

    </el-tab-pane>
    <el-tab-pane label="Inhumados" name="inhumaciones">
        <cliente-inhumacion :cliente="cliente" />
    </el-tab-pane >
    <el-tab-pane label="Editar datos del Cliente" name="datos">
        <cliente-datos />
    </el-tab-pane>
  </el-tabs>
              </el-card>
          </el-col>
      </el-row>
        
    </div>
</template>

<script>
    import { HTTP } from '@/axios.js'
    import ClienteTerreno from '@/components/Terreno'
    import ClientePago from '@/components/Pago'
    import ClienteDatos from '@/components/editarCliente'
    import ClienteInhumacion from '@/components/Inhumacion'
    export default {
        components:{
          ClienteTerreno,
          ClientePago,
          ClienteInhumacion,
          ClienteDatos
        },
        data() {
            return {
                activeName: this.$route.params.tab,
                nuevo:'',
                cliente: {},
            
            }
        },
        created(){
            this.getParcelas();
          let id = this.$route.params.id
          console.log(id)
           HTTP.post('/cliente/detalle', {id:id})
               .then(res => {
                   this.activeName=  this.$route.params.tab,
                   console.log(res.data)
                   this.cliente = res.data
               })
        },
         methods: {
     
      regresar(){
          this.$router.go(-1)
      },
        handleClick(tab, event) {
        console.log(tab.name);
        let id = this.$route.params.id
        let tab1 = tab.name
        this.$router.push('/cliente/' +id+ '/' + tab1)
      },
        getParcelas(){
       HTTP.get('/parcelas')
           .then(res => {
               this.parcelas = res.data
              
           })
    },
    }
    }
</script>

<style scoped>
.table-col{
    border-bottom: 1px solid #f1f1f1;
    padding:10px;
}
.ficha{
    position: relative;
    padding: 10px;
}
.datos-editar a{
     color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
.datos-editar{
    position: absolute;
    top:0;
    background: #437A5A;
    right:0;
    padding:4px;
    color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
.datos{
    position: absolute;
    top:0;
    background: #437A5A;
    left:0;
    padding:4px;
    color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
</style>