<template>
  <div class="container">
    <div>
      <el-row>
        <el-col :md="8">
            <el-card class="">
                <div slot="header" >
                    Agregar cobrador
                </div>
          <div v-if="estado === 'repetido'">
        
              <h2>
                El cobrador con DNI:
                <strong>{{nuevo.dni}}</strong> ya se encuentra registrado
              </h2>
              <el-button
                type="primary"
                @click="getOpcion(nuevo.id, 'terreno')"
              >Agregar otro cobrador</el-button>
             
            
          </div>
          <div v-if="estado === 'agregado'">
           
              <h2>
                El cobrador
                <strong>{{nuevo.nombre}}</strong> fue agregado correctamente
              </h2>
              <el-button type="primary" @click="getOpcion(nuevo.id, 'terreno')">Detalles</el-button>
              <el-button type="default" @click="estado = 'agregar'">Agregar otro cliente</el-button>
            
          </div>
        
            <el-form
              :label-position="'top'"
              :model="cliente"
              ref="cliente"
              label-width="120px"
              class="demo-dynamic"
              v-if="estado === 'agregar'"
            >
              <el-row :gutter="20">
                <el-col :md="24">
                  <el-form-item
                    prop="nombre"
                    label="Nombre y Apellido"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                  >
                    <el-input v-model="cliente.nombre"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :md="24">
                  <el-form-item
                    prop="dni"
                    label="DNI sin puntos"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                  
                    ]"
                  >
                    <el-input type="number" v-model="cliente.dni"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :md="24">
                  <el-form-item
                    prop="direccion"
                    label="Dirección"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                  >
                    <el-input v-model="cliente.direccion"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :md="24">
                  <el-form-item
                    prop="telefono"
                    label="Teléfono"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                  >
                    <el-input v-model="cliente.telefono"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>

              <el-form-item style="margin-top:30px">
                <el-button
                  type="primary"
                  class="w100"
                  :loading="agregando"
                  @click="submitForm('cliente')"
                >Agregar Cobrador</el-button>
              </el-form-item>
            </el-form>
            </el-card>
        </el-col>
         <el-col :md="16">
            <el-card class="">
                <div slot="header" >
                    Cobradores
                </div>
                <el-table
                  :data="cobradores"
                  border=""
                  style="width: 100%">
                    <el-table-column
                        prop="nombre"
                        label="Cobrador">
                    </el-table-column>
                     <el-table-column
                        prop="telefono"
                        label="Teléfono"
                        width="100">
                    </el-table-column>
                      <el-table-column
                        prop="direccion"
                        label="Dirección">
                    </el-table-column>
                     <el-table-column
                        label="Opciones">
                    <template slot-scope="scope">
                        <el-button type="warning" size="mini" @click="clientesCobrador(scope.row.id)">Clientes {{scope.row.clientes}}</el-button>
                        <el-button type="danger" size="mini" @click="borrarCobrador(scope.row.id)">Borrar</el-button>
                    </template>
                    </el-table-column>
                </el-table>
            </el-card>
         </el-col>
      
      </el-row>
    </div>
  </div>
</template>

<script>
import { HTTP } from "@/axios.js";
export default {
  data() {
    return {
      agregando: false,
      estado: "agregar",
      cobradores:[],
      nuevo: "",
      cliente: {}
    };
  },
  created(){
   this.getCobradores()
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.agregando = true;
          console.log("cliente submit!!", this.cliente);
          HTTP.post("/cobradores/guardar", this.cliente).then(res => {
            this.agregando = false;
            console.log(res);
            if (res.status === 200) {
              this.estado = "repetido";
              this.nuevo = res.data;
            } else {
              this.resetForm(formName);
              this.estado = "agregado";
              this.nuevo = res.data;
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
   getCobradores(){
     HTTP.get('/cobradores')
         .then(res => {
             this.cobradores = res.data
         })
   },
   clientesCobrador(id){

   },
borrarCobrador(id){

},
  }
};
</script>

<style scoped>
.box-cliente {
  text-align: center;
}
</style>