<template>
    <div class="container" v-if="parcelas">
        <el-row>
            <el-col :md="14">
                <h2 v-if="parcelas">
                Detalles de parcelas: <br>
                Sector: {{parcelas[0].sector}} <br>
                Manzana: {{manzana}} <br>
                Cuadro: {{cuadro}}  <br>
                Parcelas: {{parcelas.length}} <br>
                Precio Contado: $ {{parcelas[0].contado}}
                </h2>
            </el-col>
            <el-col :md="10">
                 <cuadro-mapa :color="parcelas[0].color"  />
                 <router-link to="/plano">
                     <el-button size="mini">
                         VOLVER AL PLANO COMPLETO
                     </el-button>
                 </router-link>
            </el-col>
             <el-col :md="24">
                 <hr>
             </el-col>
        </el-row>
        <div class="cuadro">
            <div class="filas" v-for="fila in filas" :key="fila.id">
                 <div style="float:left; margin-right:20px; margin-top:15px">F{{fila.fila}}{{fila.fila_letra}}  </div>  
                
                 <div  class="parcela" :style="{'max-width': '19px', 'width' : 'calc((90% / '+ fila.total +') )', 'height':+ fila.total + 'px', 'min-height': '40px','max-height': '40px'}"   v-for="c in parcelas" :key="c.id" v-if="(c.fila === fila.fila) && (c.fila_letra === fila.fila_letra) " :class="{'juntar' : (fila.tipo === 2), 'separar' : (fila.fila_letra === 'B'), 'unica' : (fila.tipo === 1), 'styling' :(c.estado === 0) }" @click="getDetalles(c)" >
                     {{c.numero}}
                  
                 </div>
            </div>
           

        </div>
<el-dialog
  title="Detalles de la parcela"
  :visible.sync="modalParcela"
  width="30%"
  >
  <ul v-if="selectParcela" style="font-size:18px">
      <li>Sector: {{selectParcela.sector}}</li>
      <li>Manzana: {{selectParcela.manzana}}</li>
      <li>Cuadro: {{selectParcela.cuadro}}</li>
      <li>Fila: {{selectParcela.fila}}{{selectParcela.fila_letra}}</li>
      <li>Estado: <span v-if="selectParcela.estado">DISPONIBLE</span>  <span v-if="!selectParcela.estado">OCUPADO</span></li>
  </ul>
 
  <span slot="footer" class="dialog-footer" v-if="selectParcela">
    <el-button size="mini" @click="modalParcela = false">CANCELAR</el-button>
    <el-button size="mini" type="success" v-if="selectParcela.estado" :loading="proParcela"  @click="irParcela" >VENDER PARCELA</el-button>
    <!-- <el-button size="mini" type="info" v-if="!selectParcela.estado"  @click="irParcela" >VER DETALLES</el-button> -->
  </span>
</el-dialog>
    </div>
</template>

<script>
import { HTTP } from '@/axios'
import cuadroMapa from '@/components/cuadro'
    export default {
        components:{
            cuadroMapa
        },
        data() {
            return {
                proParcela:false,
                selectParcela:{},
                modalParcela:false,
                filas: 0,
                parcelas: [],
             activeColor: '',
                manzana: '',
                cuadro:''
            }
        },
        created(){
        //  this.manzana = this.$route.params.manzana;
        //  this.cuadro = this.$route.params.cuadro;
        //  this.getCuadro(this.manzana, this.cuadro)
        },
        watch: {
    '$route.params': {
        handler(newValue) {
               console.log(newValue)
             this.manzana = this.$route.params.manzana;
                this.cuadro = this.$route.params.cuadro;
                this.getCuadro(this.manzana, this.cuadro)
        },
        immediate: true,
    }
},
        methods: {
            irParcela(){
                this.proParcela = true;
                setTimeout(() => {
                this.proParcela = false;
                    
                }, 50);
this.$router.push({
    name: 'detalleParcela',
    params: {parcela: this.selectParcela.id}
})

            },
            styling(){
                let color = 'background: ' + this.activeColor;
               return color
            },
            getDetalles(parcela){
               this.selectParcela = parcela;
               setTimeout(() => {
                   this.modalParcela = true;
               }, 50);
            },
            getCuadro(manzana, cuadro) {
              HTTP.post('/plano/cuadro', {manzana, cuadro})
                  .then( res => {
                      console.log('getCu', res.data)
                      this.parcelas = res.data.parcelas
                      this.activeColor = res.data.parcelas[0].color
                      this.filas = res.data.filas
                      
                  })
                
            }
        },

    }
</script>

<style scoped>
.styling{
    /* border:1px solid #f1f1f1; */
    background: #ff0099;
    color: #fff;
    font-size: 11px !important;
    font-weight: bold;
}
.juntar{
    /* background: #000; */
    margin-bottom: -6px;
}

.separar{
    margin-bottom: 20px;
    border-top: none !important;
}
.unica{
    /* border:1px solid #f1f1f1; */
    /* margin-bottom: -16px; */
    margin-bottom: 20px;

}
.parcela:last-child{
border-right: 0.1px solid #333;
}
.parcela:hover{
    background: #ddd;
    border-top:0.1px solid #333;
}
.parcela{
  /* width: calc(80% / 38); */
  /* height: 50px; */
  border:0.1px solid #333;
  border-right: none;
display: inline-block;
font-size: 10px;
text-align: center;
cursor: pointer;
/* margin-bottom: 10px; */
}
</style>