<template>
    <div class="container">
      <el-row>
          <el-col :md="24">
              <h2>Editar Cliente</h2>
              <div v-if="estado === 'repetido'">
                  <el-card class="box-cliente">
                      <h2>El cliente con DNI:<strong>{{nuevo.dni}}</strong> ya se encuentra registrado</h2>
                      

                  </el-card>
              </div>
              <div v-if="estado === 'agregado'">
                  <el-card class="box-cliente">
                      <h2>El cliente <strong>{{nuevo.nombre}}</strong> fue agregado correctamente</h2>
                      

                  </el-card>
              </div>
              <el-form :label-position="'top'" :model="cliente" ref="cliente" label-width="120px" class="demo-dynamic" v-if="estado === 'agregar'">
                  <el-row :gutter="20">
                     <el-col :md="16">
                         <el-form-item
                    prop="nombre"
                    label="Nombre y Apellido"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                    <el-input v-model="cliente.nombre"></el-input>
                </el-form-item>
                     </el-col>
                      <el-col :md="8">
                         <el-form-item
                    prop="dni"
                    label="DNI sin puntos"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                  
                    ]"
                >
                    <el-input type="number" v-model="cliente.dni"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="16">
                         <el-form-item
                    prop="direccion"
                    label="Dirección"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.direccion"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="8">
                         <el-form-item
                    prop="telefono"
                    label="Teléfono"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.telefono"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="6">
                         <el-form-item
                    prop="localidad"
                    label="Localidad"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-select v-model="cliente.localidad" placeholder="localidad">
    <el-option
      v-for="item in localidades"
      :key="item.nombre"
      :label="item.nombre"
      :value="item.nombre">
    </el-option>
  </el-select>
                </el-form-item>
                     </el-col>
                        <el-col :md="6">
                         <el-form-item
                    prop="provincia"
                    label="Provincia"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <!-- <el-input v-model="cliente.provincia"></el-input> -->
                      <el-select v-model="cliente.provincia" placeholder="Provincia">
    <el-option
      v-for="item in provincias"
      :key="item.nombre"
      :label="item.nombre"
      :value="item.nombre">
    </el-option>
  </el-select>
                </el-form-item>
                     </el-col>
                       <el-col :md="4">
                         <el-form-item
                    prop="cp"
                    label="Código postal"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.cp"></el-input>
                </el-form-item>
                     </el-col>
                       <el-col :md="8">
                         <el-form-item
                    prop="ingreso"
                    label="Fecha de Ingreso"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-date-picker
      v-model="cliente.ingreso"
      type="date"
      format="dd/MM/yyyy"
      placeholder="Ingreso">
    </el-date-picker>
                </el-form-item>
                     </el-col>
                  </el-row>
                

  <el-form-item style="margin-top:30px">
      <el-row :gutter="30">
          <el-col :md="12">
              <el-button type="success" class="w100" @click="submitForm('cliente')">Editar cliente</el-button> 
          </el-col>
           <el-col :md="12">
               <el-button type="default" class="w100" @click="regresar">Regresar al listado</el-button>
           </el-col>
      </el-row>
    
    
  
  </el-form-item>
</el-form>

          </el-col>
      </el-row>
    </div>
</template>

<script>
import { HTTP } from '@/axios.js'
    export default {
        data() {
            return {
                estado: 'agregar',
                nuevo:'',
                 cliente: {},
                 provincias: [{nombre: 'Tucumán'}],
                 localidades: [{nombre: 'Monteros'}, {nombre: 'Simoca'}, {nombre: 'Graneros'}, {nombre: 'Concepción'}]
            }
        },
        created(){
          let id = this.$route.params.id
          console.log(id)
           HTTP.post('/cliente/detalle', {id:id})
               .then(res => {
                   this.cliente = res.data
               })
        },
         methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            console.log('cliente submit!!', this.cliente);
//             HTTP.post('/cliente/guardar', this.cliente)
//                 .then( res => {
//                     console.log(res)
//                     if(res.status === 200){
//                     this.estado = 'repetido'
//                     this.nuevo = res.data
//                     }else{
// this.resetForm(formName);
//                     this.estado = 'agregado'
//                     this.nuevo = res.data
//                     }
                    
//                 })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      regresar(){
          this.$router.go(-1)
      }
    }
    }
</script>

<style scoped>

</style>