<template>
  <div class="container" >
     
    <el-row>
      <el-col :md="24">
               <div style="margin-top: 15px;">
              <label for="" style="text-align:left; padding:10px 0px; display:block">Buscar cliente: ingrese el DNI, N° de cliente o nombre. </label>
  <el-input placeholder="Buscar cliente" v-model="buscar" @keyup.enter.native="buscarCliente"  class="input-with-select">

    <el-button slot="append" @click="buscarCliente" icon="el-icon-search"></el-button>
  </el-input>


    <!--  -->
<!-- <div class="cuadro">
  <img src="../assets/c1.svg" alt="" >
   <div class="parcela" v-for="item in 36" :key="item">{{item}}</div>
   <div class="parcela" v-for="item in 35" :key="item">{{item}}</div> <br>
   <div class="parcela" v-for="item in 35" :key="item">{{item}}</div>
</div> -->

<el-table
    :data="resultados.data"
    v-if="resultados"
    style="width: 100%; margin-top:30px">
    
    <el-table-column
      label="N°"
      prop="id"
      width="60"
      >
    </el-table-column>
    <el-table-column
      label="Nombre"
      prop="nombre"
       width="250"
      >
    </el-table-column>
    <el-table-column
      label="Dni"
      prop="dni"
       width="100"
      >
    </el-table-column>
    <el-table-column
      label="Opciones">
      <template slot-scope="scope">
       
        <el-button
          size="mini"
          type="primary"
           @click="getOpcion(scope.row.id, 'parcelas')"
          >Detalles</el-button>
           <!-- <el-button
          size="mini"
          type="danger"
           @click="getOpcion(scope.row.id, 'pago')"
          >Pagos</el-button> -->
           <!-- <el-button
          size="mini"
          type="warning"
           @click="getOpcion(scope.row.id, 'inhumar')"
          >Nueva inhumación</el-button> -->
           <!-- <el-button
          size="mini"
          @click="getOpcion(scope.row.id, 'editar')"
         >Editar</el-button> -->
      </template>
    </el-table-column>
  </el-table>
  <!-- <hr> -->
  				  <el-pagination
            style="margin-top:30px"
					  v-if="resultados"
  background
  layout="prev, pager, next"
   :page-size="10"
  :total="resultados.total"
  :current-page="resultados.current_page"
  @current-change="buscarCliente"
  >
</el-pagination>
    <!--  -->

<hr>









</div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :md="24">
        <h1>Plano</h1>
     <plano-mapa ></plano-mapa>
      </el-col>
    </el-row>
  
  </div>
</template>

<script>
// @ is an alias to /src
import { HTTP } from '@/axios'
import planoMapa from '@/components/plano'
export default {
  name: 'home',
  components:{
planoMapa
  },
  data() {
    return {
      buscar: '',
      resultados: undefined
    }
  },
  created(){
   this.buscarCliente(1)
  },
  methods: {
    buscarCliente(page) {
      HTTP.post('/clientes', {buscar: this.buscar, page:page})
          .then( res => {
            console.log(res)
            this.resultados = res.data
          })
      
    },
    getOpcion(cliente,direccion){
      console.log(cliente)

      if(direccion === 'editar'){
         this.$router.push('/editar-cliente/' + cliente )

      }else{
         this.$router.push('/cliente/' + cliente + '/' + direccion )

      }
    
   
      
    }

//      getListado(page){
//          HTTP.post(apiUrl + '/productos', {page:page})
//              .then( res => {
// 				 if(page !== 1){
// this.$scrollTo('#productos')
// 				 }
				 
//                 console.log('res.data', res.data)
//                 this.productos = res.data
//              })
//       },
  },
}
</script>
<style scoped>
.plano{
  width: 80%;
}
.cuadro{
  width: 390.6px;
  height: 118.0px;
  
  /* border:1px solid #333; */
}
.cuadro img{
  position: absolute;
  height: 118.0px;
  /* left: 1px; */
}
.parcela{
  width: 10.5px;
  height: 24px;
  border:0.1px solid #333;
  border-right: none;
display: inline-block;
font-size: 8px;
text-align: center;
}
</style>
