<template>
    <div class="container">
        <el-row>
            <el-col :md="14">
                 <h3>Informes <br>  <small>Seleccion un mes y una opción para generar el informe</small> </h3>
                  <div class="block">
    <!-- <span class="demonstration">Month</span> -->
    <el-date-picker
      v-model="value4"
      type="month"
      format="MM/yyyy"
      value-format="yyyy-MM-dd"
      placeholder="Seleccione un mes">
    </el-date-picker>
  

<el-button-group style="margin-left:10px">
  <el-button type="primary" :loading="procesando4"  @click="getDeudaTotal()" >Obtener Totales</el-button>
  <el-button type="danger" :loading="procesando4" @click="getDeuda()" > Obtener detalles</el-button>
</el-button-group>
    </div>
            </el-col>
        </el-row>
         <el-row>
              <el-col :md="24">
                  <hr>
              </el-col>
                <el-col :md="5">
                 <el-card>
                     <h4 class="info-titulo">Pagos recibidos mes de {{value4 | moment('MMMM')}}/{{value4 | moment('YY')}} 

                          <br> <small>  {{totales.pagoMensual | currency('$', 2, { decimalSeparator: '.' })}}</small>
                     </h4>
                 </el-card>
            </el-col>
             <el-col :md="5">
                 <el-card>
                     <h4 class="info-titulo">Pagos pendientes mes de {{value4 | moment('MMMM')}} /{{value4 | moment('YY')}} 

                          <br> <small>  {{totales.deudaMensual | currency('$', 2, { decimalSeparator: '.' })}}</small>
                     </h4>
                 </el-card>
            </el-col>
              <el-col :md="5">
                  <el-card>
                      <h4 class="info-titulo">Total deuda acumulada al {{new Date() | moment('L')}} <br> <small>  {{totales.deudaTotal | currency('$', 2, { decimalSeparator: '.' })}}</small> </h4> 
                    
                  </el-card>
            </el-col>
        </el-row>
       
<el-table
    :data="deudaMensual.data"
    v-if="deudaMensual"
    fit
    border
    stripe
    
    style="width: 100%; margin-top:30px">
    
  
    <el-table-column
      label="Nombre"
      prop="nombre"
 
      >
    </el-table-column>
    <el-table-column
      label="Dni"
      prop="dni"
  
      >
    </el-table-column>
     <el-table-column
      label="Concepto"
      prop="concepto"
    
      >
    </el-table-column>
     <el-table-column
      label="Vencimiento"
      >
      <template slot-scope="scope">
          {{scope.row.vencimiento | moment('L')}}
      </template>
    </el-table-column>
     <el-table-column
      label="Monto"
      
    
      >
       <template slot-scope="scope">
          {{scope.row.monto | currency('$', 2, { decimalSeparator: '.' })}}
      </template>
    </el-table-column>
     <el-table-column
      label="Estado"
    
      >
       <template slot-scope="scope">
            <el-alert
    title="PAGADO"
    type="success"
    style="font-size:12px"
    v-if="scope.row.estado"
    :closable="false">
  </el-alert>
            <el-alert
    title="SIN PAGAR VENCIDO"
    type="error"
    style="font-size:12px"
    v-if="!scope.row.estado"
    :closable="false">
  </el-alert>    
      </template>
    </el-table-column>
  </el-table>
  <!-- <hr> -->
  				  <el-pagination
            style="margin-top:30px"
					  v-if="deudaMensual"
  background
  layout="prev, pager, next"
   :page-size="10"
  :total="deudaMensual.total"
  :current-page="deudaMensual.current_page"
  @current-change="getDeuda"
  >
</el-pagination>
 
    </div>
</template>

<script>
import {HTTP} from '@/axios.js'
    export default {
        data() {
            return {
             value4: new Date(),
             datos: '',
             totales: 0,
             deudaMensual:0,
             procesando4:false
       
            }
        },
        created(){
           this.getDeudaTotal();
           this.getDeuda();
        },
        methods: {
           getDeudaTotal(){
               this.procesando4 = true
              HTTP.post('/informe/deuda', {fecha: this.value4})
                  .then( res => {
               this.procesando4 = false
                      console.log('deudaTotal', res.data)
                      this.totales = res.data
                  })
           }, 
           getPago(){
               console.log(this.value4)
           },
           getDeuda(){
               this.procesando4 = true
                HTTP.post('/informe/mes', {fecha: this.value4})
                  .then( res => {
               this.procesando4 = false
                      console.log('deudaMensual', res.data)
                      this.deudaMensual = res.data
                  })
           },
        },
    }
</script>

<style scoped>
.info-titulo{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    /* line-height: 1.5; */
}
.info-titulo small{
    font-size: 20px;
    display: block;
    padding-top: 10px;
}
</style>