<template>
    <div class="container">
      <el-row>
          <el-col :md="6">
              <el-card class="v-parcela">
                  <h3>Parcela</h3>
                  <ul class="ul-table">
                      <li>Sector: <strong>{{parcela.sector}}</strong> </li>
                      <li>Manzana: <strong>{{parcela.manzana}}</strong> </li>
                      <li>Cuadro: <strong>{{parcela.cuadro}}</strong> </li>
                      <li>Fila: <strong>{{parcela.fila}}{{parcela.fila_letra}}</strong> </li>
                      <li>Ubicación: <strong>{{parcela.numero}}</strong> </li>
                      <li>Precio contado: <strong>${{parcela.contado}}</strong> </li>

                  </ul>
                  <el-form>
                       <el-form-item
                    prop="pago_tipo"
                    label="Forma de Pago"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-select v-model="parcela.pago_tipo" placeholder="Forma de pago">
    <el-option
      v-for="item in metodos"
      :key="item.nombre"
      :label="item.nombre"
      :value="item.nombre">
    </el-option>
  </el-select>
                </el-form-item>
                  <el-form-item
                    prop="cuotas"
                    label="N° de cuotas"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-select v-model="parcela.cuotas" placeholder="Cuotas">
    <el-option
      v-for="item in cuotas"
      :key="item"
      :label="item"
      :value="item">
    </el-option>
  </el-select>
                </el-form-item>
                  </el-form>
              </el-card>
          </el-col>
           <el-col :md="12">
                  <el-card class="v-parcela">
                       <h3>Cliente</h3>
                        <label for="" style="text-align:left; padding:10px 0px; display:block; font-size:11px; margin-top:10px">Buscar cliente: ingrese el DNI, N° de cliente o nombre. </label>
  <el-input placeholder="Buscar cliente" v-model="buscar" @keyup.enter.native="buscarCliente"  class="input-with-select">

    <el-button slot="append" @click="buscarCliente" icon="el-icon-search"></el-button>
  </el-input>
  <el-table
    :data="resultados.data"
    v-if="resultados"
    style="width: 100%; margin-top:10px" size="mini" fit border>
    
    
    <el-table-column
      label="Nombre"
      prop="nombre"
     
      >
    </el-table-column>
    <el-table-column
      label="Dni"
      prop="dni"
     
      >
    </el-table-column>
    <el-table-column
      label="Opciones">
      <template slot-scope="scope">
       
        <el-button
          size="small"
          type="primary"
           @click="selectCliente(scope.row)"
          >seleccionar</el-button>
          
      </template>
    </el-table-column>
  </el-table>
                  </el-card>
          </el-col>
           <el-col :md="6">
                <el-card class="v-parcela">
                     <h3>Confirmación</h3>

            <ul class="ul-table">
              <li>Parcela ID: {{parcela.id}}</li>
              <li>Cliente: {{cliente.nombre}}</li>
              <li>Cliente ID: {{cliente.id}}</li>
              <li>Pago: {{parcela.pago_tipo}}</li>
              <li>Cuotas: {{parcela.cuotas}}</li>
            </ul>
            <br>
            <el-button
              v-if="parcela.pago_tipo && parcela.cuotas && cliente.id && parcela.contado "
              @click="addTerreno"
              class="w100"
              type="primary"
              :loading="procensando2"
            >AGREGAR TERRENO</el-button>
            <br>
            <br>
            <!-- <el-button @click="cerrarModal" class="w100">Cancelar</el-button> -->
          </el-card>
          </el-col>
      </el-row>
    </div>
</template>

<script>
import { HTTP } from '@/axios'
import nuevoCliente from '@/views/addCliente.vue'
    export default {
        data() {
            return {
              procensando2:false,
                parcela: {},
                 metodos: [{nombre: 'Efectivo'},{nombre: 'Tarjeta'}],
                 cuotas: [1,6,12],
                 resultados:'',
                 cliente:{}
            }
        },
        created(){
           let parcela = this.$route.params.parcela
           this.getCuadro(parcela)
        },
        methods: {
            selectCliente(cliente){
             this.cliente = cliente
            },
                addTerreno() {
      this.parcela.cliente_id = this.cliente.id
      this.procensando2 = true
        setTimeout(() => {
      HTTP.post("/terrenos/agregar",  this.parcela).then(res => {
        this.$alert("El terreno fue agregado correctamente", "Nuevo terreno", {
          confirmButtonText: "aceptar",
          callback: action => {
            this.plano = "plano";
            // setTimeout(() => {
            // //   EventBus.$emit("cerrarModal", false);
            // }, 60);
      this.procensando2 = false

            this.$router.push('/cliente/' + this.cliente.id + '/terreno')
            this.$message({
              type: "success",
              message: `Terreno agregado`
            });
          }
        });
      });
      }, 60);
    },
             buscarCliente(page) {
      HTTP.post('/clientes', {buscar: this.buscar, page:page})
          .then( res => {
            console.log(res)
            this.resultados = res.data
          })
      
    },
          getCuadro(parcela) {
              HTTP.post('/plano/cuadro/id', {parcela})
                  .then( res => {
                      this.parcela = res.data
                      
                  })
                
            }
        },
    }
</script>

<style scoped>
.ul-table{
    list-style: none;
    padding: 0;
}
.ul-table li {
padding: 4px 0px;
border-bottom: 1px solid #f1f1f1;
}
.v-parcela{
    height: 500px;
}
.v-parcela h3{
    padding: 0;
    margin:0;
    border-bottom: 1px solid #000;
}
</style>