<template>
    <div class="container">
     <el-row :gutter="20">
         <el-col :md="24">
             <el-card>
                 <h3> Parcelas y Sectores</h3>
                  <p>Desde acá podrá establecer/actualizar el valor de:</p>
                  <ul>
                      <li>las parcelas</li>
                      <li>el mantenimiento</li>
                      <li>el derecho a excavación</li>
                  </ul>
                   <el-table
    :data="parcelas"
    fit
    border
    style="width: 100%; font-size:12px">
    <el-table-column
      label="Nombre"
      width="150"
      >
      <template slot-scope="scope">
       <div class="rec" :style="'background:' + scope.row.color"></div>   
       {{ scope.row.nombre }}
      </template>
    </el-table-column>
    <el-table-column
      label="Contado"
      width="95">
      <template slot-scope="scope">
       <el-input size="small" :disabled="!(editar === scope.row)" v-model="scope.row.contado"> </el-input>
       
      </template>
    </el-table-column>
     <el-table-column
      label="6 Cuotas"
      width="110"
     >
      <template slot-scope="scope">
       <!-- <el-input size="small" :disabled="true" v-model="((scope.row.contado * 25) / 100)"> </el-input>
       {{}} -->
      $ {{(((scope.row.contado * scope.row.cuota6) / 100) + scope.row.contado)}}  <br>
      6 x  {{(((scope.row.contado * scope.row.cuota6) / 100) + scope.row.contado) / 6  | currency('$', 2, { decimalSeparator: '.' }) }}
      </template>
    </el-table-column>
      <el-table-column
      label="12 Cuotas"
      width="110">
      <template slot-scope="scope">
       <!-- <el-input size="small" :disabled="true" v-model="scope.row.cuota12"> </el-input> -->
       $ {{(((scope.row.contado * scope.row.cuota12) / 100) + scope.row.contado)}}  <br>
      12 x  {{(((scope.row.contado * scope.row.cuota12) / 100) + scope.row.contado) / 12  | currency('$', 2, { decimalSeparator: '.' }) }}

      </template>
    </el-table-column>
     <!-- <el-table-column
      label="Bonificado"
      width="95">
      <template slot-scope="scope">
       <el-input size="small" :disabled="!(editar === scope.row)" v-model="scope.row.bonificacion"> </el-input>
      </template>
    </el-table-column> -->
      <el-table-column
      label="Espacios"
      width="80">
      <template slot-scope="scope">
       <el-input size="small" :disabled="!(editar === scope.row)" v-model="scope.row.espacios"> </el-input>
      </template>
    </el-table-column>
      <el-table-column
      label="Sellado"
      width="95">
      <template slot-scope="scope">
       <el-input size="small" :disabled="!(editar === scope.row)" v-model="scope.row.sellado"> </el-input>
      </template>
    </el-table-column>
    <el-table-column
      :label="' Imp. comunal'"
      width="100">
      <template slot-scope="scope">
       <el-input size="small" :disabled="!(editar === scope.row)" v-model="scope.row.comunal"> </el-input>
      </template>
    </el-table-column>
    <el-table-column
      label="Acciones">
      <template slot-scope="scope">
        <el-button
          size="mini"
          
          @click="handleEdit(scope.$index, scope.row)">
          {{btnText}}
          
          </el-button>
        <el-button
          size="mini"
          type="danger"
          :disabled="!(editar === scope.row)"
          @click="handleGuardar(scope.$index, scope.row)">Guardar</el-button>
      </template>
    </el-table-column>
  </el-table>
  <hr>
  <h3>Administrar costos comunes a todos los sectores</h3>
  <el-row :gutter="40">
     <el-col :md="6">
          <div style="margin-top: 15px;">
              <h4>Intéres 12 cuotas</h4>
  <el-input placeholder="" type="number" min="0" max="100" v-model="gastos.cuota12">
    <el-button slot="append" @click="guardarGastos" :loading="procesando" type="danger" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
      <el-col :md="6">
          <div style="margin-top: 15px;">
                  <h4>Intéres 6 cuotas</h4>
  <el-input placeholder="" type="number" min="0" max="100" v-model="gastos.cuota6">

    <el-button slot="append" @click="guardarGastos" :loading="procesando" type="danger" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
       <el-col :md="6">
          <div style="margin-top: 15px;">
              <h4>Expensas</h4>
  <el-input placeholder="" v-model="gastos.expensas">
    <el-button slot="append" @click="guardarGastos" :loading="procesando" type="danger" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
      <el-col :md="6">
          <div style="margin-top: 15px;">
              <h4>Mantenimiento Común</h4>
  <el-input placeholder="" v-model="gastos.mantenimiento_comun">
    <el-button slot="append" @click="guardarGastos" :loading="procesando" type="danger" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
        <el-col :md="6">
          <div style="margin-top: 15px;">
              <h4>Mantenimiento con Placa</h4>
  <el-input placeholder="" v-model="gastos.mantenimiento_placa">
    <el-button slot="append" @click="guardarGastos" :loading="procesando" type="danger" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
      <el-col :md="6">
          <div style="margin-top: 15px;">
              <h4>Derecho Excavación</h4>

  <el-input placeholder="" v-model="gastos.excavacion">
   <el-button slot="append" @click="guardarGastos" :loading="procesando" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
 
      <el-col :md="6">
          <div style="margin-top: 15px;">
              <h4>Placa</h4>

  <el-input placeholder="" v-model="gastos.placa">
   <el-button slot="append" @click="guardarGastos" :loading="procesando" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
       <el-col :md="6">
          <div style="margin-top: 15px;">
              <h4>Inscripción en Placa</h4>

  <el-input placeholder="" v-model="gastos.inscripcion">
   <el-button slot="append" @click="guardarGastos" :loading="procesando" >Guardar</el-button>
  </el-input>
</div>
      </el-col>
  </el-row>
             </el-card>
         </el-col>
          <!-- <el-col :md="16">
   <el-card>
             </el-card>
         </el-col> -->
     </el-row>
    </div>
</template>

<script>
import { HTTP } from "@/axios";
    export default {
     data() {
         return {
             gastos:{
                mantenimiento_comun:0,
                mantenimiento_placa:0,
                excavacion:0,
                placa:0,
                inscripcion:0,
                expensas:0
                },
         procesando:false,       
         parcelas: [],
         editar:undefined,
         btnText:'Editar',
         mantenimiento:0,
         excavacion:0
      
         }
     },
     created(){
        this.getParcelas()
     },
     methods: {
    getParcelas(){
       HTTP.get('/parcelas')
           .then(res => {
               this.parcelas = res.data
               this.gastos = this.parcelas[0] 
           })
    },
    handleEdit(index, row) {
        console.log(index, row);
        this.editar = row;
      
      },
      handleGuardar(index, row) {
        console.log(index, row);
        HTTP.post('parcelas/editar', row)
            .then( res => {
                this.getParcelas()
                 this.$message({
                    message: 'Los datos se actualizaron correctamente',
                    type: 'success'
                    });
                    this.editar = undefined;
            })
      },
        guardarGastos() {
            if(this.gastos){
//  let gastos = {}
//         gastos.mantenimiento = this.mantenimiento
//         gastos.excavacion = this.excavacion
this.procesando = true;
        HTTP.post('parcelas/gastos', this.gastos)
            .then( res => {
                this.getParcelas()
                 this.$message({
                    message: 'Los datos se actualizaron correctamente',
                    type: 'success'
                    });
                    this.editar = undefined;
this.procesando = false;

            })
            }
            else{
                this.$message({
                    message: 'Los gastos de mantenimiento y excavación deben ser mayores que cero',
                    type: 'error'
                    });
            }
       
      }
     },   
    }
</script>

<style scoped>
.rec{
    height: 20px;
    width: 40px;
    float: left;
    margin-right: 10px;
}
</style>