<template>
    <div class="container">
        <div >
        </div>
       <el-row :gutter="20">
           <el-col :md="12">
                <h2>PLANO: LOS JAZMINES <br> <small>Presione en el mapa para ver los detalles</small></h2>
     <img src="../assets/img-cuadro.svg" style="height:30px; margin-right:10px" alt="">
     <img src="../assets/img-mza.svg" style="height:30px" alt="">
           </el-col>
           <el-col :md="6">
               <el-card>
            <h2 style="text-align:center; margin:0; padding:0">
                <small>Disponibles</small> <br>
                {{todos}}
            </h2>
               </el-card>
           </el-col>
            <el-col :md="6">
               <el-card>
            <h2 style="text-align:center; margin:0; padding:0">
                <small>Ocupadas</small> <br>
                {{ocupados}}
            </h2>
               </el-card>
           </el-col>
 
       </el-row>
     <plano-mapa />
     <el-row>
                   <el-col :md="24">
               <hr>
               <h2>Precios x Sector</h2>
                 <el-table
    :data="parcelas"
    fit
    border
    srtipe
    style="width: 100%; font-size:12px">
    <el-table-column
      label="Sector"
      >
      <template slot-scope="scope">
       <div class="rec" :style="'background:' + scope.row.color"></div>   
       {{ scope.row.nombre }}
      </template>
    </el-table-column>
    <el-table-column
      label="Contado"
      width="95">
      <template slot-scope="scope">
  ${{scope.row.contado}}
       
      </template>
    </el-table-column>
     <el-table-column
      label="6 Cuotas"
      width="95">
      <template slot-scope="scope">
    $ {{scope.row.cuota6}}
      </template>
    </el-table-column>
      <el-table-column
      label="12 Cuotas"
      width="95">
      <template slot-scope="scope">
       ${{scope.row.cuota12}}
      </template>
    </el-table-column>
     <!-- <el-table-column
      label="Bonificado"
      width="95">
      <template slot-scope="scope">
       <el-input size="small" :disabled="!(editar === scope.row)" v-model="scope.row.bonificacion"> </el-input>
      </template>
    </el-table-column> -->
      <el-table-column
      label="Espacios"
      width="80">
      <template slot-scope="scope">
   {{scope.row.espacios}}
      </template>
    </el-table-column>
      <el-table-column
      label="Sellado"
      width="95">
      <template slot-scope="scope">
      ${{scope.row.sellado}}
      </template>
    </el-table-column>
    <el-table-column
      :label="' Imp. comunal'"
      width="100">
      <template slot-scope="scope">
     ${{scope.row.comunal}}
      </template>
    </el-table-column>
   
  </el-table>
           </el-col>
     </el-row>
    </div>
</template>

<script>
import { HTTP } from '@/axios'
import planoMapa from '@/components/plano'
    export default {
        components:{
            planoMapa
        },
        data() {
            return {
               todos:0,
               ocupados:0,
               parcelas:[],
               gastos:undefined
            }
        },
        created(){
         this.getTotal();
         this.getParcelas()
        },
        methods: {
            getTotal() {
                HTTP.get('/plano/totales')
                    .then( res => {
                      console.log('totla',res)
                        this.todos = res.data.libre;
                        this.ocupados = res.data.ocupado;
                    })
            },
             getParcelas(){
       HTTP.get('/parcelas')
           .then(res => {
             console.log('parcelas',res)
               this.parcelas = res.data
               this.gastos = this.parcelas[0] 
           })
    },
        },
    }
</script>

<style scoped>
.rec{
    height: 20px;
    width: 40px;
    float: left;
    margin-right: 10px;
}
</style>