<template>
    <div class="page">
          <div class="titulo"><h1>COMPROBANTE DE PAGO</h1></div>
          <div class="logo"><img src="../assets/logo.png" alt=""></div>
          <table class="table">
              <tr>
                  <th>Cliente</th>
                  <td>Juan Ramon Alderete</td>
              
                  <th>DNI</th>
                  <td>Juan Ramon Alderete</td>
              </tr>
              <tr>
                  <th>Concepto</th>
                  <td colspan="3">Juan Ramon Alderete</td>
              </tr>
              <tr>
                  <th>Vencimiento</th>
                  <td>Juan Ramon Alderete</td>
                   <th>Fecha de Pago</th>
                  <td>Juan Ramon Alderete</td>
              </tr>
               <tr>
                  <th style="font-size:20px; padding:15px 10px; background:#f1f1f1">Monto</th>
                  <td style="font-size:20px; padding:15px 10px; background:#f1f1f1" colspan="3">Juan Ramon Alderete</td>
              </tr>
          </table>
          <div class="content-firma">
 <div class="firma">
              <h3>Firma del cliente</h3>
          </div>
          <div class="firma" style="float:right">
              <h3>Firma de la concesionaria</h3>
          </div>
          </div>
         
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
body
{
  size: 21cm 29.7cm;
   margin: 0px ;
   font-family:Arial, Helvetica, sans-serif;

}

@page {
  size: 21cm 29.7cm;
   margin: 0px ;


}
.content-firma{
    width:18cm;
margin:50px auto;
margin-top: 100px;
}
.firma{
    width: 40%;
    float: left;
    margin:0 auto;
    text-align: center;
    border-top:3px dotted #ddd ;
}
.table{
border-collapse: collapse;
font-size: 14px;
text-align: left;
width:18cm;
margin:30px auto;
}
.table tr > th, .table tr > td {
    border:1px solid #f1f1f1;
    padding: 6px;
    
}
.page {
  size: 21cm 29.7cm;
   margin: 0px ;


}
.tabla-li{
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 80%;
  display:block;
}
.tabla-li li {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.logo{
  position: absolute;
  right: 0;
  top:0;
  height:100px;
  width: 40%;

}
.logo img{
     width: 250px;
  padding: 10px;
  display: block;
  margin-top: -10px;
}
.titulo{
    width: 50%;
    height:100px;
}   
.titulo h1{
    font-size:22px;
    margin-top: 10px;
    padding: 20px;
}     
</style>