<template>
    <div>

<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1562 768" style="enable-background:new 0 0 1562 768;" xml:space="preserve">

<polygon class="st0" points="40.7,55.3 49.7,707.5 1317.8,740.6 1540.7,67.4 1036.2,44.8 751.5,34.3 530.2,58.4 "/>
<line class="st0" x1="66.2" y1="707.9" x2="55.8" y2="55.4"/>
<rect x="75.3" y="73.4" class="st0" width="143.1" height="143.1" :style="getActive(1,1)" @click="getDetalle(1,1)"/>
<rect x="232" y="73.4" class="st0" width="87.3" height="143.1" :style="getActive(1,2)" @click="getDetalle(1,2)"/>
<rect x="329.9" y="73.4" class="st0" width="97.9" height="155.1" :style="getActive(2,1)" @click="getDetalle(2,1)"/>
<rect x="438.3" y="73.4" class="st0" width="97.9" height="155.1" :style="getActive(2,2)" @click="getDetalle(2,2)"/>
<polygon class="st0" points="647.6,67.4 591.9,67.4 591.9,84 551.2,84 549,228.5 645.4,228.5 " :style="getActive(3,1)" @click="getDetalle(3,1)"/>
<polygon class="st0" points="748.5,67.4 748.5,228.5 653.7,228.5 655.2,67.4 683.8,67.4 683.8,55.7 748.5,55.7 " :style="getActive(3,2)" @click="getDetalle(3,2)"/>
<rect x="779.8" y="55.7" class="st0" width="113" height="179.1" :style="getActive(4,1)" @click="getDetalle(4,1)"/>
<rect x="902.9" y="55.7" class="st0" width="113" height="179.1" :style="getActive(4,2)" @click="getDetalle(4,2)"/>
<rect x="1038.4" y="67.4" class="st1" width="111.8" height="172.1" :style="getActive(5,1)" @click="getDetalle(5,1)"/>
<rect x="1159.3" y="67.4" class="st1" width="111.8" height="172.1" :style="getActive(5,2)" @click="getDetalle(5,2)"/>
<path class="st0" d="M1282.4,73.4"/>
<polygon class="st1" points="1280.5,77.6 1282.4,243.2 1464.7,246.2 1521.1,82.1 " :style="getActive(6,1)" @click="getDetalle(6,1)"/>
<polygon class="st0" points="1460.3,262.6 1282.4,259.2 1282.4,390.2 1415.7,393.1 " :style="getActive(6,2)" @click="getDetalle(6,2)"/>
<rect x="1038.4" y="253.6" class="st0" width="228.7" height="136.1" :style="getActive(5,3)" @click="getDetalle(5,3)"/>
<rect x="902.9" y="249.1" class="st0" width="107.3" height="117.5" :style="getActive(4,4)" @click="getDetalle(4,4)"/>
<rect x="763.4" y="246.2" class="st0" width="124.8" height="120.3" :style="getActive(4,3)" @click="getDetalle(4,3)"/>
<rect x="651" y="242.3" class="st0" width="93.2" height="124.2" :style="getActive(3,4)" @click="getDetalle(3,4)"/>
<rect x="549" y="242.3" class="st0" width="91.3" height="121.4" :style="getActive(3,3)" @click="getDetalle(3,3)"/>
<rect x="438.3" y="242.3" class="st0" width="91.9" height="121.4" :style="getActive(2,4)" @click="getDetalle(2,4)"/>
<rect x="329.9" y="239.5" class="st0" width="97.9" height="124.2" :style="getActive(2,3)" @click="getDetalle(2,3)"/>
<rect x="226.3" y="234.4" class="st0" width="88.1" height="122" :style="getActive(1,4)" @click="getDetalle(1,4)" />
<rect x="71.6" y="228.5" class="st0" width="144" height="44.8" :style="getActive(1,3)" @click="getDetalle(1,3)"/>
<rect x="78.9" y="273.3" class="st0" width="110.1" height="54.2"/>
<line class="st0" x1="116.8" y1="423.4" x2="1268.9" y2="427.9"/>
<polygon class="st0" points="1400.8,416.8 1282.4,416.8 1282.4,568.9 1354,568.9 "/>
<polygon class="st0" points="1280.5,585.5 1341.6,585.5 1304.3,716.5 1275.6,716.5 "/>
<rect x="1028.7" y="410" class="st0" width="238.5" height="152.1"/>
<rect x="1028.7" y="585.5" class="st0" width="113" height="122"/>
<rect x="1152.8" y="585.5" class="st0" width="114.4" height="122.4"/>
<rect x="902.9" y="410.8" class="st0" width="107.3" height="144.6"/>
<rect x="902.9" y="568.9" class="st0" width="107.3" height="139"/>
<rect x="763.4" y="410.8" class="st0" width="124.8" height="144.6"/>
<rect x="763.4" y="568.9" class="st0" width="124.8" height="138.6"/>
<rect x="647.6" y="404.7" class="st0" width="90.4" height="150.6"/>
<rect x="647.6" y="568.9" class="st0" width="90.4" height="129.5"/>
<rect x="536.2" y="404.7" class="st0" width="94.9" height="141.6"/>
<rect x="536.2" y="562.9" class="st0" width="94.9" height="135.5"/>
<rect x="427.8" y="404.7" class="st0" width="88.9" height="141.6"/>
<rect x="427.8" y="555.3" class="st0" width="79.8" height="143.1"/>
<rect x="314.4" y="404.7" class="st0" width="101.3" height="141.6"/>
<rect x="314.4" y="555.3" class="st0" width="90.7" height="134"/>
<rect x="215.6" y="404.7" class="st0" width="84.1" height="132.5"/>
<rect x="215.6" y="562.9" class="st0" width="76.6" height="126.5"/>
<rect x="78.9" y="442.4" class="st0" width="119.9" height="94.9"/>
<rect x="85.9" y="562.9" class="st0" width="113" height="126.5"/>
<polyline class="st0" points="116.8,436.6 116.8,404.7 198.8,404.7 198.8,442.4 1267.2,447.9 "/>
<g>
	<polygon class="st2" points="835.1,484.7 835.1,497.3 835.1,497.4 842.8,497.4 842.8,489.1 	"/>
	<polygon class="st2" points="800.6,497.4 808.3,497.4 808.3,497.3 808.3,484.7 800.6,489.1 	"/>
	<path class="st2" d="M809.7,480.4v17h7.9v-7.2c0-2.3,1.8-4.1,4.1-4.1h0.1c2.3,0,4.1,1.8,4.1,4.1v7.2h7.9v-17l-12-10L809.7,480.4z"
		/>
	<polygon class="st2" points="804.3,478.6 806.4,481.1 821.7,468.5 837,481.1 839,478.6 822.6,465.1 822.6,462.1 825.6,462.1 
		825.6,460.2 822.6,460.2 822.6,458.1 820.7,458.1 820.7,460.2 817.8,460.2 817.8,462.1 820.7,462.1 820.7,465.1 	"/>
</g>
<g>
	<path class="st2" d="M784.8,528.2c-0.1,2.5-0.8,4.4-2.1,5.7c-1.3,1.3-3.2,1.9-5.5,1.9c-2.5,0-4.4-0.8-5.8-2.5c-1.3-1.7-2-4-2-7.1
		v-3.7c0-3,0.7-5.4,2.1-7c1.4-1.7,3.3-2.5,5.8-2.5c2.4,0,4.2,0.7,5.5,2c1.3,1.4,2,3.3,2.1,5.8h-4.5c0-1.6-0.3-2.6-0.7-3.2
		c-0.4-0.6-1.3-0.9-2.4-0.9c-1.2,0-2,0.4-2.5,1.3c-0.5,0.8-0.8,2.2-0.8,4.1v4.2c0,2.2,0.2,3.7,0.7,4.5c0.5,0.8,1.3,1.2,2.5,1.2
		c1.2,0,2-0.3,2.4-0.9c0.4-0.6,0.7-1.6,0.8-3.1H784.8z"/>
	<path class="st2" d="M798.2,531h-6.1l-1.2,4.5h-4.7l6.9-22.2h4.1l7,22.2h-4.8L798.2,531z M793,527.3h4.1l-2.1-7.9L793,527.3z"/>
	<path class="st2" d="M810.7,527.8v7.8h-4.5v-22.2h7.6c2.2,0,3.9,0.7,5.2,2c1.3,1.4,2,3.1,2,5.3c0,2.2-0.6,3.9-1.9,5.1
		c-1.3,1.3-3.1,1.9-5.4,1.9H810.7z M810.7,524h3.1c0.9,0,1.5-0.3,2-0.8c0.5-0.6,0.7-1.4,0.7-2.4c0-1.1-0.2-2-0.7-2.6
		c-0.5-0.7-1.1-1-1.9-1h-3.1V524z"/>
	<path class="st2" d="M828.6,535.6h-4.5v-22.2h4.5V535.6z"/>
	<path class="st2" d="M836.9,531.8h7.9v3.7h-12.3v-22.2h4.5V531.8z"/>
	<path class="st2" d="M851.8,531.8h7.9v3.7h-12.3v-22.2h4.5V531.8z"/>
	<path class="st2" d="M873.1,531H867l-1.2,4.5h-4.7l6.9-22.2h4.1l7,22.2h-4.8L873.1,531z M868,527.3h4.1l-2.1-7.9L868,527.3z"/>
</g>
<g>
	<rect x="621" y="211.4" class="st3" width="51.3" height="51.3"/>
	<g>
		<path class="st2" d="M645.4,235.7h1.8c1.2,0,2-0.4,2.7-1.1c0.6-0.7,0.9-1.7,0.9-2.9c0-2.7-1-4.1-3.1-4.1c-1,0-1.8,0.4-2.4,1.1
			c-0.6,0.7-0.9,1.7-0.9,2.9h-2.8c0-1.9,0.6-3.4,1.7-4.6c1.1-1.2,2.6-1.8,4.3-1.8c1.8,0,3.3,0.6,4.3,1.7c1.1,1.1,1.6,2.8,1.6,4.8
			c0,1.1-0.3,2.1-0.8,3c-0.6,0.9-1.3,1.6-2.2,2c2.2,0.8,3.3,2.6,3.3,5.4c0,2.1-0.6,3.7-1.7,4.9s-2.6,1.8-4.5,1.8
			c-1.8,0-3.3-0.6-4.4-1.7c-1.1-1.2-1.7-2.7-1.7-4.7h2.8c0,1.2,0.3,2.2,0.9,2.9c0.6,0.7,1.4,1.1,2.4,1.1c1,0,1.9-0.4,2.5-1.1
			c0.6-0.7,0.9-1.8,0.9-3.2c0-2.8-1.3-4.2-4-4.2h-1.7V235.7z"/>
	</g>
</g>
<g>
	<rect x="869.8" y="212.1" class="st3" width="51.3" height="51.3"/>
	<g>
		<path class="st2" d="M901.2,241.6h2.6v2.4h-2.6v5.4h-2.8V244h-8.7v-1.7l8.6-16h3V241.6z M892.8,241.6h5.6v-11L892.8,241.6z"/>
	</g>
</g>
<g>
	<rect x="1127.2" y="215.9" class="st3" width="51.3" height="51.3"/>
	<g>
		<path class="st2" d="M1149,241.6l1-11.5h10.1v2.7h-7.7l-0.5,6.3c1-0.7,2-1,3.1-1c1.8,0,3.2,0.7,4.2,2.1c1,1.4,1.5,3.3,1.5,5.6
			c0,2.4-0.6,4.3-1.7,5.6c-1.1,1.4-2.6,2-4.6,2c-1.7,0-3.2-0.6-4.2-1.7c-1.1-1.1-1.7-2.7-1.9-4.7h2.6c0.2,1.3,0.5,2.3,1.1,3
			c0.6,0.7,1.4,1,2.3,1c1.1,0,1.9-0.5,2.6-1.4c0.6-0.9,0.9-2.2,0.9-3.8c0-1.5-0.3-2.7-1-3.7c-0.7-1-1.6-1.4-2.7-1.4
			c-0.9,0-1.7,0.2-2.2,0.7l-0.7,0.7L1149,241.6z"/>
	</g>
</g>
<g>
	<rect x="1345.7" y="225.3" class="st3" width="51.3" height="51.3"/>
	<g>
		<path class="st2" d="M1376.2,239.4v2.5h-0.5c-1.9,0-3.3,0.7-4.4,1.9c-1.1,1.2-1.7,3.1-1.8,5.5c1-1.3,2.3-1.9,3.9-1.9
			c1.7,0,3.1,0.7,4.1,2.1c1,1.4,1.5,3.2,1.5,5.5c0,2.4-0.6,4.3-1.7,5.7c-1.1,1.4-2.6,2.1-4.5,2.1c-1.9,0-3.4-0.8-4.5-2.5
			c-1.1-1.7-1.7-3.9-1.7-6.6v-1.1c0-3.2,0.3-5.7,1-7.6c0.7-1.9,1.7-3.3,3-4.2c1.3-0.9,3-1.4,5-1.4H1376.2z M1373,249.8
			c-0.8,0-1.5,0.3-2.1,0.9c-0.6,0.6-1.1,1.3-1.4,2.2v1.2c0,1.9,0.3,3.4,1,4.6s1.5,1.8,2.4,1.8c1,0,1.9-0.5,2.5-1.5
			c0.6-1,0.9-2.2,0.9-3.8c0-1.6-0.3-2.8-0.9-3.8S1374,249.8,1373,249.8z"/>
	</g>
</g>
<g>
	<rect x="197.2" y="197.1" class="st3" width="51.3" height="51.3"/>
	<g>
		<path class="st2" d="M226.3,234.4h-2.8v-19.6l-4.9,2.2v-2.7l7.2-3.2h0.4V234.4z"/>
	</g>
</g>
<g>
	<rect x="407" y="204.3" class="st3" width="51.3" height="51.3"/>
	<g>
		<path class="st2" d="M440.7,241.6h-12.9v-2.1l6.6-8.7c1-1.3,1.7-2.4,2.1-3.3s0.6-1.8,0.6-2.7c0-1.2-0.3-2.2-0.9-3
			c-0.6-0.8-1.3-1.1-2.3-1.1c-1.2,0-2.1,0.4-2.7,1.2c-0.6,0.8-1,2-1,3.5h-2.8c0-2.1,0.6-3.8,1.7-5.2s2.7-2,4.7-2
			c1.8,0,3.3,0.6,4.4,1.7c1.1,1.1,1.6,2.6,1.6,4.5c0,2.3-1.2,5-3.6,8.1l-5.1,6.7h9.6V241.6z"/>
	</g>
</g>
<g>
	<path class="st4" d="M143.3,146h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V146z"/>
</g>
<g>
	<path class="st4" d="M280.2,143h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		s-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1s-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9s1.4-2.1,2.5-2.7s2.3-1,3.6-1
		c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4s-1.8,3-3.4,4.9l-3,4.2h7.9V143z"/>
</g>
<g>
	<path class="st4" d="M142,249.1h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2
		c-0.4-0.5-0.9-0.8-1.6-0.8c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2c0.6-1,1.3-1.7,2.3-2.2
		s2.1-0.8,3.3-0.8c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1
		c1.1,0.5,1.9,1.2,2.4,2.1c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8
		c-1.2-1.2-1.9-2.8-1.9-4.8h4.5c0,0.8,0.2,1.5,0.7,2.1s1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3
		c0-2.3-0.9-3.4-2.7-3.4H142V249.1z"/>
</g>
<g>
	<path class="st4" d="M275.6,306.9h2v3.7h-2v5h-4.5v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V306.9z M267.6,306.9h3.5v-7.7l-0.1,0.2
		L267.6,306.9z"/>
</g>
<g>
	<path class="st4" d="M383.3,142.8h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V142.8z"/>
</g>
<g>
	<path class="st4" d="M491.2,143h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		s-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1s-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9s1.4-2.1,2.5-2.7s2.3-1,3.6-1
		c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V143z"/>
</g>
<g>
	<path class="st4" d="M602.8,142.8h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V142.8z"/>
</g>
<g>
	<path class="st4" d="M376.4,298.4h2.2c0.8,0,1.4-0.3,1.8-0.9s0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2s-0.9-0.8-1.6-0.8
		c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2s1.3-1.7,2.3-2.2c1-0.5,2.1-0.8,3.3-0.8
		c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1
		c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8c-1.2-1.2-1.9-2.8-1.9-4.8h4.5
		c0,0.8,0.2,1.5,0.7,2.1c0.4,0.6,1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9s0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4h-2.2V298.4z"/>
</g>
<g>
	<path class="st4" d="M488.7,303h2v3.7h-2v5h-4.5v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V303z M480.7,303h3.5v-7.7l-0.1,0.2L480.7,303z"/>
</g>
<g>
	<path class="st4" d="M704.6,143H691v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		s-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9s1.4-2.1,2.5-2.7s2.3-1,3.6-1
		c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4s-1.8,3-3.4,4.9l-3,4.2h7.9V143z"/>
</g>
<g>
	<path class="st4" d="M599.1,295.7h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2s-0.9-0.8-1.6-0.8
		c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2c0.6-1,1.3-1.7,2.3-2.2c1-0.5,2.1-0.8,3.3-0.8
		c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1
		c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8s-1.9-2.8-1.9-4.8h4.5
		c0,0.8,0.2,1.5,0.7,2.1c0.4,0.6,1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4h-2.2V295.7z"
		/>
</g>
<g>
	<path class="st4" d="M705.5,296.8h2v3.7h-2v5H701v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V296.8z M697.5,296.8h3.5v-7.7l-0.1,0.2
		L697.5,296.8z"/>
</g>
<g>
	<path class="st4" d="M821.7,295.7h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2s-0.9-0.8-1.6-0.8
		c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2c0.6-1,1.3-1.7,2.3-2.2c1-0.5,2.1-0.8,3.3-0.8
		c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1s0.8,2,0.8,3.3
		c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8s-1.9-2.8-1.9-4.8h4.5c0,0.8,0.2,1.5,0.7,2.1s1,0.8,1.7,0.8
		c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4h-2.2V295.7z"/>
</g>
<g>
	<path class="st4" d="M964.6,302h2v3.7h-2v5h-4.5v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V302z M956.6,302h3.5v-7.7l-0.1,0.2L956.6,302z"/>
</g>
<g>
	<path class="st4" d="M828.6,146h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V146z"/>
</g>
<g>
	<path class="st4" d="M973,145.3h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9s0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		c-0.4-0.6-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9H959c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.4-2.1,2.5-2.7
		c1.1-0.7,2.3-1,3.6-1c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4s-1.8,3-3.4,4.9l-3,4.2h7.9V145.3z"/>
</g>
<g>
	<path class="st4" d="M1098.8,145.1h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V145.1z"/>
</g>
<g>
	<path class="st4" d="M1222.2,146.1h-13.6V143l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		c-0.4-0.6-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.4-2.1,2.5-2.7
		s2.3-1,3.6-1c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V146.1z"/>
</g>
<g>
	<path class="st5" d="M1377.4,153.7h-4.5V136l-4.4,1.7V134l8.4-3.4h0.5V153.7z"/>
</g>
<g>
	<path class="st4" d="M1147.8,324.1h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2s-0.9-0.8-1.6-0.8
		c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2s1.3-1.7,2.3-2.2c1-0.5,2.1-0.8,3.3-0.8
		c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1
		c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8c-1.2-1.2-1.9-2.8-1.9-4.8h4.5
		c0,0.8,0.2,1.5,0.7,2.1c0.4,0.6,1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4h-2.2V324.1z"
		/>
</g>
<g>
	<path class="st5" d="M1373.2,338.3h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		c-0.4-0.6-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.4-2.1,2.5-2.7
		c1.1-0.7,2.3-1,3.6-1c2.1,0,3.7,0.6,4.8,1.7s1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V338.3z"/>
</g>
</svg>

    </div>
</template>

<script>
    export default {
           props:['color'],
   data() {
    
       return {
        
       }
   },        
    methods: {
        getActive(manzana,cuadro) {
        let m = parseInt(this.$route.params.manzana);
        let c = parseInt(this.$route.params.cuadro);
        // console.log('sdsds',m)
        // console.log('manzana',manzana)
          if((manzana === m) && (cuadro === c)){
              let color = 'fill:' + this.color;
                 return color

          }
        },
         getDetalle(manzana, cuadro) {
                 this.$router.push('/plano/detalle/' + manzana + '/' + cuadro )
                
            }
    },
    }
</script>

<style type="text/css" scoped>
svg{
 width: 100%;
}
  .active{
      fill:#ff0099 !important;
  }
	.st0{fill:#FFFFFF;stroke:#111111;stroke-miterlimit:10;}
	.st1{fill:#FFFFFF;stroke:#2B2B2B;stroke-miterlimit:10;}
	.st2{fill:#070308;}
	.st3{fill:#FFFFFF;stroke:#0C0B0D;stroke-miterlimit:10;}
	.st4{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;stroke:#F9F9F9;stroke-miterlimit:10;}
</style>