<template>
    <div class="container">
      <el-row>
          <el-col :md="24">
              <h2>Editar Cliente</h2>
      
         
              <el-form :label-position="'top'" :model="cliente" ref="cliente" label-width="120px" class="demo-dynamic" >
                  <el-row :gutter="20">
                     <el-col :md="16">
                         <el-form-item
                    prop="nombre"
                    label="Nombre y Apellido"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                    <el-input v-model="cliente.nombre"></el-input>
                </el-form-item>
                     </el-col>
                      <el-col :md="8">
                         <el-form-item
                    prop="dni"
                    label="DNI sin puntos"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                  
                    ]"
                >
                    <el-input type="number" v-model="cliente.dni"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="16">
                         <el-form-item
                    prop="direccion"
                    label="Dirección"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.direccion"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="8">
                         <el-form-item
                    prop="telefono"
                    label="Teléfono"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.telefono"></el-input>
                </el-form-item>
                     </el-col>
                        <el-col :md="6">
                         <el-form-item
                    prop="localidad"
                    label="Localidad"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-select v-model="cliente.localidad" placeholder="localidad">
    <el-option
      v-for="item in localidades"
      :key="item.nombre"
      :label="item.nombre"
      :value="item.nombre">
    </el-option>
  </el-select>
                </el-form-item>
                     </el-col>
                        <el-col :md="6">
                         <el-form-item
                    prop="provincia"
                    label="Provincia"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <!-- <el-input v-model="cliente.provincia"></el-input> -->
                      <el-select v-model="cliente.provincia" placeholder="Provincia">
    <el-option
      v-for="item in provincias"
      :key="item.nombre"
      :label="item.nombre"
      :value="item.nombre">
    </el-option>
  </el-select>
                </el-form-item>
                     </el-col>
                       <el-col :md="4">
                         <el-form-item
                    prop="cp"
                    label="Código postal"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                    <el-input v-model="cliente.cp"></el-input>
                </el-form-item>
                     </el-col>
                       <el-col :md="8">
                         <el-form-item
                    prop="ingreso"
                    label="Fecha de Ingreso"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
                >
                   <el-date-picker
      v-model="cliente.ingreso"
      type="date"
      format="dd/MM/yyyy"
      placeholder="Ingreso">
    </el-date-picker>
                </el-form-item>
                     </el-col>
                  </el-row>
                

  <el-form-item style="margin-top:30px">
      <el-row :gutter="30">
          <el-col :md="12">
              <el-button type="success" class="w100" :loading="procesando" @click="submitForm('cliente')">Editar cliente</el-button> 
          </el-col>
           <el-col :md="12">
               <!-- <el-button type="default" class="w100" @click="regresar">Regresar al listado</el-button> -->
           </el-col>
      </el-row>
    
    
  
  </el-form-item>
</el-form>

          </el-col>
      </el-row>
    </div>
</template>

<script>
import { HTTP } from '@/axios.js'
    export default {
        data() {
            return {
                procesando:false,
                estado: 'agregar',
                nuevo:'',
                 cliente: {},
                provincias: [
                   {nombre: 'Buenos Aires'},
                   {nombre: 'Catamarca'},
                   {nombre: 'Chaco'},
                   {nombre: 'Chubut'},
                   {nombre: 'Ciudad Autónoma de Buenos Aires'},
                   {nombre: 'Córdoba'},
                   {nombre: 'Corrientes'},
                   {nombre: 'Entre Ríos'},
                   {nombre: 'Formosa'},
                   {nombre: 'Jujuy'},
                    {nombre: 'La Pampa'},
                     {nombre: 'La Rioja'},
                     {nombre: 'Mendoza'},
                   {nombre: 'Misiones'},
                    {nombre: 'Neuquén'},
                     {nombre: 'Río Negro'},
                      {nombre: 'Salta'},
                      
                       {nombre: 'San Juan'},
                   {nombre: 'San Luis'},
                     {nombre: 'Santa Cruz'},
                   {nombre: 'Santa Fe'},
                   
                 
                  
                   
                  
                  
                   {nombre: 'Santiago del Estero'},
                  
                   {nombre: 'Tucumán'},
                  
                  
                   
                   
                   {nombre: 'Tierra del Fuego'},
                   ],
                 localidades: [
                   {nombre:"Burruyacú"},
                   {nombre:"Capital"},
                   {nombre:"Chicligasta"},
                   {nombre:"Cruz Alta"},
                   {nombre:"Famaillá"},
                   {nombre: 'Graneros'},
                   {nombre: 'Juan Bautista Alberdi'},
                   {nombre: 'La Cocha'},
                   {nombre: 'Leales'},
                   {nombre: 'Lules'},
                   {nombre: 'Monteros'},
                   {nombre: 'Río Chico'},
               
                    {nombre: 'Simoca'},
                         {nombre: 'Tafí del Valle'},
                         {nombre: 'Tafí Viejo'},
                         {nombre: 'Trancas'},
                      {nombre: 'Yerba Buena'},
                      {nombre: 'Otro'}
                      ]
            }
        },
        created(){
          let id = this.$route.params.id
          console.log(id)
           HTTP.post('/cliente/detalle', {id:id})
               .then(res => {
                   this.cliente = res.data
               })
        },
         methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this.procesando = true
            console.log('cliente submit!!', this.cliente);
            HTTP.post('/cliente/editar', this.cliente)
                .then( res => {
              this.procesando = false
                    console.log(res)
                   
this.$alert('Datos Actualizados', 'Editar CLiente', {
          confirmButtonText: 'Aceptar',
        });
                    
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      regresar(){
          this.$router.go(-1)
      }
    }
    }
</script>

<style scoped>

</style>