<template>
<div>
<el-menu :default-active="activeIndex" class="el-menu-demo" :router="true" mode="horizontal" @select="handleSelect">
  <el-menu-item index="0" :route="{name: 'home'}">  <img src="../assets/logo.svg" style="height:50px" alt=""></el-menu-item>

  <el-menu-item index="home" :route="{name: 'home'}">Inicio</el-menu-item>
  <el-menu-item index="plano" :route="{name: 'plano'}">Plano</el-menu-item>
  <el-menu-item index="cliente" :route="{name: 'cliente'}">Agregar clientes</el-menu-item>
  <el-menu-item index="parcelas" :route="{name: 'parcelas'}">Parcelas</el-menu-item>
  <el-menu-item index="informes" :route="{name: 'informes'}">Informes</el-menu-item>
  <el-menu-item index="cobradores" :route="{name: 'cobradores'}">Cobradores</el-menu-item>
  <!-- <el-menu-item index="config" :route="{name: 'listado'}">Listado de Clientes</el-menu-item> -->

</el-menu>
<div class="line"></div>

    <!-- <div class="menu-content">
     <el-row>
           <el-col :md="24">
             <el-card class="menu-item" @click.native="getRoute('home')" style="background:#437A5A; border-color:#437A5A !important">
                 
                 <h3 style="color:white">MENU</h3>
             </el-card>
         </el-col>
         <el-col :md="24">
             <el-card class="menu-item" :class="{'menu-active' : $route.name === 'home'}" @click.native="getRoute('home')">
                 <img src="../assets/home.svg" class="icon-home" alt="">
                 <h3>INICIO</h3>
             </el-card>
         </el-col>
         <el-col :md="24">
             <el-card class="menu-item" :class="{'menu-active' : $route.name === 'cliente'}" @click.native="getRoute('cliente')">
                 <img src="../assets/user.svg" class="icon-home" alt="">
                 <h3>NUEVO CLIENTE</h3>
             </el-card>
         </el-col> -->
         <!-- <el-col :md="24">
             <el-card class="menu-item" :class="{'menu-active' : $route.name === 'listado'}" @click.native="getRoute('clientes')">
                 <img src="../assets/clientes.svg" class="icon-home" alt="">
                 <h3>LISTADO CLIENTES</h3>
             </el-card>
         </el-col> -->
          <!-- <el-col :md="24">
             <el-card class="menu-item" :class="{'menu-active' : $route.name === 'parcelas'}" @click.native="getRoute('parcelas')">
                 <img src="../assets/terrenos.svg" class="icon-home" style="padding:10px" alt="">
                 <h3>PARCELAS</h3>
             </el-card>
         </el-col> -->
         <!-- <el-col :md="24">
             <el-card class="menu-item" :class="{'menu-active' : $route.name === 'config'}" @click.native="getRoute('cliente')">
                 <img src="../assets/config.svg" class="icon-home" style="padding:10px" alt="">
                 <h3>CONFIGURACIÓN</h3>
             </el-card>
         </el-col> -->
     <!-- </el-row> -->
    <!-- </div> -->
       </div>
</template>

<script>
    export default {
        data() {
            return {
                 activeIndex: this.$route.name,
        activeIndex2: '1'
            }
        },
        methods: {
            getRoute(ruta) {

                this.$router.push({name: ruta})
                
            },
              handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }
        },
    }
</script>
<style>
.el-card {
    border-radius: 0px !important;
    overflow: hidden;
}
</style>

<style scoped>
.menu-content{
    border-right: 1px solid #f1f1f1;
    height: 100vh;
}
.menu-item{
    cursor: pointer;
    border:0px ;
    text-align:center;
}
.menu-item:hover, .menu-active{
    background: #CDDC39;
    border-bottom: 4px solid #000;
}
.menu-item h3 {
    padding: 0;
    margin:0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.menu-item img{
    width: 50%;
    display: block;
    text-align: center;
    margin:0 auto;
}
</style>