<template>
    <div>
       <el-row>
           <el-col :md="24">
           <div style="margin-top:10px"  v-for="terreno in terrenos" :key="terreno.id">
               <el-table  :data="terreno.ocupantes" border fit size="medium" stripe="" hover >
                   
                   <el-table-column
                   prop="nombre"
                   
                   label="Nombre">
                   </el-table-column>
                    <el-table-column
                   prop="dni"
                    width="100"
                   label="DNI">
                   </el-table-column>
                    <el-table-column
                   
                   label="F / Inhumacion">

<template slot-scope="scope">
    {{scope.row.fecha_inhumacion | moment('L')}}
</template>
                   </el-table-column>
                      <el-table-column
               
                   label="F / Nacimiento">
                   <template slot-scope="scope">
                       {{scope.row.fecha_nacimiento | moment('L')}}
                       
            </template>
                   </el-table-column>
                    <el-table-column
               
                   label="F / Fallecimiento">
                   <template slot-scope="scope">
                       {{scope.row.fecha_fallecimiento | moment('L')}}
                       
            </template>
                   </el-table-column>
                    <el-table-column
                  width="120"
                   label="Editar">
                   <template slot-scope="scope">
                      <el-button size="mini" icon="el-icon-edit" @click="editarDatos(scope.row)" ></el-button>
                      <el-button type="danger" size="mini" icon="el-icon-delete" @click="eliminarDatos(scope.row)" ></el-button>
                       
            </template>
                   </el-table-column>
               </el-table>
               </div>
      </el-col>
       </el-row>
         <el-dialog :title="'Editar Datos Inhumación'" :visible.sync="nuevaI" :close-on-click-modal="false" width="50%">
   <editar-inhumado :terreno="selectedTerreno" />
</el-dialog>
    </div>
</template>

<script>
import {HTTP} from '@/axios.js'
    import { EventBus } from '@/event-bus.js'

import editarInhumado from '@/components/InhumacionEditar.vue'
    export default {
        components:{
            editarInhumado
        },
        data() {
            return {
                procesando: false,
                terrenos: undefined,
                cliente_id:0,
                selectedTerreno:undefined,
                nuevaI:false

            }
        },
                updated(){
 EventBus.$on('cerrarModal', () => {
  this.nuevaI = false;
  
  this.getTerrenos();
});

        },
        created(){
  console.log('this.cliente', this.$route.params.id)
            this.cliente_id = this.$route.params.id
           
            this.getTerrenos();
        },
        methods: {
              getTerrenos(){
                 HTTP.post('/terrenos', {id: this.cliente_id})
                     .then( res => {
                         console.log('ocupantes', res.data)
                         this.terrenos = res.data
                     })
             },
             eliminarDatos(row){
 this.$confirm('Desea eliminar el al Inhumado: ' + row.nombre, 'Eliminar Inhumado', {
          confirmButtonText: 'Eliminar',
          cancelButtonText: 'Cancelar',
          type: 'warning'
        }).then(() => {
            HTTP.post('/terreno/eliminar/inhumado', {id: row.id})
                .then( res => {
                     this.getTerrenos();
  this.$message({
            type: 'success',
            message: 'Se eliminó el registro'
          });
                })
        
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'No se realizaron cambios'
          });          
        });
             },
             editarDatos(row){
                 this.selectedTerreno = row;
                 setTimeout(() => {
                     this.nuevaI = true
                 }, 100);
             }
        },
    }
</script>

<style scoped>

</style>