<template>
    <div>
       <el-row>
           <el-col :md="{span:20, offset:2}" v-if="estado <= 0 ">
               <h3>El terreno seleccionado tiene su capacidad completa: {{terreno.parcela.espacios}}</h3>
               <el-table
               :data="terreno.ocupantes">
                   <el-table-column
                   prop="nombre"
                   label="Apellido y Nombre"
                   >
                   </el-table-column>
                   <el-table-column
                   prop="fecha_inhumacion"
                   label="Fecha de Inhumación"
                   >
                   </el-table-column>
               </el-table>
           </el-col>
           <el-col :md="{span:20, offset:2}" v-if="estado > 0">
       
                 <el-form  :label-position="'top'" :model="inhumado" ref="inhumado" style="margin-top:0px" label-width="120px" class="demo-dynamic">
    
<el-row :gutter="10">
           <el-col :md="24">
   
                <el-form-item
                    prop="nombre"
                    label="Apellido y nombre"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input  v-model="inhumado.nombre"></el-input>
                </el-form-item>
                
          </el-col>
              <el-col :md="12">
   
                <el-form-item
                    prop="dni"
                    label="DNI"
                  
                >
                  <el-input  v-model="inhumado.dni"></el-input>
                </el-form-item>
                
          </el-col>
          
          <el-col :md="12">
   
               <el-form-item
                    prop="fecha_nacimiento"
                    label="Fecha de Nacimiento"
                  
                >
                   <date-dropdown default="0000-00-00"  min="1890" max="2050" months-names="ENERO, FEBRERO, MARZO, ABRIL, MAYO, JUNIO, JULIO,AGOSTO, SEPTIEMBRE, OCTUBRE,NOVIEMBRE,DICIEMBRE" v-model="inhumado.fecha_nacimiento" />

                </el-form-item>
                
          </el-col>
           <el-col :md="12">
   
               <el-form-item
                    prop="fecha_fallecimiento"
                    label="Fecha de Fallecimiento"
                    
                >
                   <el-date-picker
      v-model="inhumado.fecha_fallecimiento"
      type="date"
       style="width:200px"
      placeholder="Fecha de Fallecimiento"
      :default-value="new Date()">
    </el-date-picker>
                </el-form-item>
                
          </el-col>
           <el-col :md="12">
   
               <el-form-item
                    prop="fecha_inhumacion"
                    label="Fecha de Inhumación"
                 
                >
                   <el-date-picker
      v-model="inhumado.fecha_inhumacion"
      type="date"
    style="width:200px"
      placeholder="Fecha de Inhumación"
      :default-value="new Date()">
    </el-date-picker>
                </el-form-item>
                
          </el-col>
         
   
           <el-col :md="24">
                <el-form-item
                   
                  
                   
                >
              <el-button style="width:100%;  display:block" type="primary" :loading="procesando" @click="submitForm('inhumado')">Registrar Inhumación</el-button>
                </el-form-item>
                
 
           </el-col>
       </el-row>
  </el-form>
    
      </el-col>
       </el-row>
        
    </div>
</template>

<script>
import DateDropdown from 'vue-date-dropdown'
import { EventBus } from '@/event-bus.js'
import { HTTP } from '@/axios.js'

    export default {
        props:['terreno'],
        components: {
		DateDropdown
	},
        data() {
            return {
                procesando: false,
                inhumado:{},
                estado:undefined,
                meses:[]

            }
        },
        created(){
          this.estado = (this.terreno.parcela.espacios - this.terreno.ocupantes.length)
          console.log('this.estado', this.estado)
        },
         methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this.procesando = true;
        
            // this.inhumado.fecha_nacimiento = new Date(this.inhumado.fecha_nacimiento )
this.inhumado.fecha_nacimiento = this.$moment( this.inhumado.fecha_nacimiento, 'DD/MM/YYYY').format('YYYY-MM-DD') || 0;
         if(this.inhumado.fecha_nacimiento === 'Invalid date'){
this.inhumado.fecha_nacimiento = "0000:00:00"
         }
               
              
               this.inhumado.terreno = this.terreno
            console.log('cliente submit!!', this.inhumado);
            setTimeout(() => {
                 HTTP.post('/terrenos/registrar/inhumado', this.inhumado)
                .then( res => {
                   
                     this.resetForm(formName);
                     EventBus.$emit('cerrarModal', false);
                     this.procesando = false;
                    
                })
            }, 500);
           
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
    }
</script>

<style scoped>

</style>