<template>
    <div>
       <el-row>
  
           <el-col :md="{span:20, offset:2}" >
       
                 <el-form  :label-position="'top'" :model="terreno" ref="terreno" style="margin-top:0px" label-width="120px" class="demo-dynamic">
    
<el-row :gutter="10">
           <el-col :md="24">
   
                <el-form-item
                    prop="nombre"
                    label="Apellido y nombre"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input  v-model="terreno.nombre"></el-input>
                </el-form-item>
                
          </el-col>
              <el-col :md="12">
   
                <el-form-item
                    prop="dni"
                    label="DNI"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input  v-model="terreno.dni"></el-input>
                </el-form-item>
                
          </el-col>
          
          <el-col :md="12">
   
               <el-form-item
                    prop="fecha_nacimiento"
                    label="Fecha de Nacimiento"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                   <date-dropdown :default="terreno.fecha_nacimiento"  min="1890" max="2050" months-names="ENERO, FEBRERO, MARZO, ABRIL, MAYO, JUNIO, JULIO,AGOSTO, SEPTIEMBRE, OCTUBRE,NOVIEMBRE,DICIEMBRE" v-model="terreno.fecha_nacimiento" />

                </el-form-item>
                
          </el-col>
           <el-col :md="12">
   
               <el-form-item
                    prop="fecha_fallecimiento"
                    label="Fecha de Fallecimiento"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                   <el-date-picker
      v-model="terreno.fecha_fallecimiento"
      type="date"
       style="width:200px"
      placeholder="Fecha de Fallecimiento"
      :default-value="new Date()">
    </el-date-picker>
                </el-form-item>
                
          </el-col>
           <el-col :md="12">
   
               <el-form-item
                    prop="fecha_inhumacion"
                    label="Fecha de Inhumación"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                   <el-date-picker
      v-model="terreno.fecha_inhumacion"
      type="date"
    style="width:200px"
      placeholder="Fecha de Inhumación"
      :default-value="new Date()">
    </el-date-picker>
                </el-form-item>
                
          </el-col>
         
   
           <el-col :md="24">
                <el-form-item
                   
                  
                   
                >
              <el-button style="width:100%;  display:block" type="primary" :loading="procesando" @click="submitForm('terreno')">Registrar Inhumación</el-button>
                </el-form-item>
                
 
           </el-col>
       </el-row>
  </el-form>
    
      </el-col>
       </el-row>
        
    </div>
</template>

<script>
import DateDropdown from 'vue-date-dropdown'
import { EventBus } from '@/event-bus.js'
import { HTTP } from '@/axios.js'

    export default {
        props:['terreno'],
        components: {
		DateDropdown
	},
        data() {
            return {
                procesando: false,
                terrenos:{},
                estado:undefined,
                meses:[]

            }
        },
        created(){
         
         console.log(this.terreno)
        },
         methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this.procesando = true;
            //  this.terreno.fecha_nacimiento = new Date(this.terreno.fecha_nacimiento)
               this.terreno.fecha_nacimiento = this.$moment( this.terreno.fecha_nacimiento, 'DD/MM/YYYY').format('YYYY-MM-DD')
              
              
       
            setTimeout(() => {
                 HTTP.post('/terrenos/editar/inhumado', this.terreno)
                .then( res => {
                   
                     this.resetForm(formName);
                     EventBus.$emit('cerrarModal', false);
                     this.procesando = false;
                    
                })
            }, 500);
           
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
    }
</script>

<style scoped>

</style>