<template>
    <div>
  <el-row :gutter="20">
              
  <el-col :md="24">
    <el-button-group>
 <!-- <el-button type="primary" style="float:right; margin-bottom:20px" size="mini" @click="generar = true">Ver todos los pagos pendiente</el-button> -->
  <el-button type="danger" style="float:right; margin-bottom:20px" size="mini" @click="generar = true">Generar un nuevo pago</el-button>
</el-button-group>
    
    <el-card>
      <el-row>
        <el-col :md="12">
      Deuda al: {{fecha | moment('L')}} {{deuda | currency('$', 2, { decimalSeparator: '.' })}}
        </el-col>
         <el-col :md="12">
           
         </el-col>
</el-row>
    </el-card> 
      <!-- <el-button type="primary" style="float:right; margin-bottom:20px" @click="generar = true">Ver todos los pagos pendiente</el-button> -->
      <!-- <el-button type="info" style="float:right; margin-bottom:20px" @click="expensas = true">Generar  Expensas</el-button> -->
      
      <el-table
    :data="pagos.data"
    v-if="pagos"
    size="mini"
    fit
    :stripe="true"
    :border="true"
    style="width: 100%; margin-top:30px; font-size:14px;">
    
    <el-table-column
      label="Concepto"

      >
       <template  slot-scope="scope">
         {{scope.row.concepto}} - {{scope.row.vencimiento | moment('MMMM')}}/{{scope.row.vencimiento | moment('YY')}}
       </template>
    </el-table-column>
    <el-table-column
      label="Estado"
      width="110"
      >
      <template  slot-scope="scope">
         <el-tag v-if="scope.row.estado === 1"   size="mini" type="success">PAGADO</el-tag>
         <el-tag v-if="scope.row.estado === 0"  size="mini"  type="error">SIN PAGAR</el-tag>
         <el-tag v-if="scope.row.estado === -1"  size="mini"  type="warning">ANULADO</el-tag>
      </template>
    </el-table-column>
     <el-table-column
      label="Vencimiento"
     width="110"
      >
      <template  slot-scope="scope">
       {{scope.row.vencimiento | moment('L')}}
      </template>
    </el-table-column>
     <el-table-column
      label="Fecha Pago"
     width="120"
     
      >
      <template  slot-scope="scope">
       {{scope.row.fecha_pago | moment('L')}}
      </template>
    </el-table-column>
    <el-table-column
      label="Monto"
      width="100"
      >
      <template  slot-scope="scope">
        <strong>{{scope.row.monto | currency('$', 2, { decimalSeparator: '.' })}}</strong>
      </template>
    </el-table-column>
   <el-table-column
      label="Opciones" width="150">
      <template slot-scope="scope">
       
        <el-button
          size="mini"
          type="primary"
          v-if="!scope.row.estado"
           @click="getOpcion(scope.row, 'cobrar')"
          >COBRAR</el-button> <br>
           <el-button
          size="mini"
          type="default"
          v-if="scope.row.estado && (scope.row.estado !== -1)"
           @click="ImprimirPdf(scope.row.comprobante)"
          >COMPROBANTE</el-button> <br>
           <el-button
          size="mini"
          type="danger"
             v-if="scope.row.estado !== -1"
           @click="getOpcion(scope.row, 'anular')"
          >ANULAR</el-button>
         
      </template>
    </el-table-column>
      </el-table>
        <el-pagination
            style="margin-top:30px"
					  v-if="pagos"
  background
  layout="prev, pager, next"
   :page-size="10"
  :total="pagos.total"
  :current-page="pagos.current_page"
  @current-change="getPagos"
  >
</el-pagination>
  </el-col>

  </el-row>
     
 <el-dialog
  title="Registrar un Pago"
   :close-on-click-modal="false"
  :visible.sync="cobrar"
  width="40%">
  <ul class="tabla-li">
      <li>Concepto: <strong>{{selected.concepto}}</strong></li>
      <li>Vencimiento: <strong>{{selected.vencimiento | moment('L')}}</strong></li>
      <li>Monto: <strong>${{selected.monto | currency('$', 2, { decimalSeparator: '.' })}}</strong></li>
      
  </ul>
   <el-form  :label-position="'left'" :model="selected" ref="cobrar" style="margin-top:20px" label-width="120px" class="demo-dynamic">
    

   
                <el-form-item
                    prop="fecha_pago"
                    label="Fecha de Pago"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                   <el-date-picker
      v-model="selected.fecha_pago"
      type="date"
      placeholder="Fecha de pago"
      :default-value="new Date()">
    </el-date-picker>
                </el-form-item>
       
  </el-form>
  <span slot="footer" class="dialog-footer">
       <el-button style="width:100%; margin-top:-10px; display:block" type="danger" :loading="procesando" @click="realizarPago('cobrar')">Registrar Pago</el-button> <br>
    <el-button  style="width:100%; margin-top:-10px; display:block" @click="cobrar = false">Cancelar</el-button>
   
  </span>
</el-dialog>
<el-dialog
  :title="'Anular un Pago N°' + selected.id"
   :close-on-click-modal="false"
  :visible.sync="anular"
  width="40%">
 
  <ul class="tabla-li">
      <li>Concepto: <strong>{{selected.concepto}}</strong></li>
      <li>Vencimiento: <strong>{{selected.vencimiento | moment('L')}}</strong></li>
      <li>Monto: <strong>${{selected.monto | currency('$', 2, { decimalSeparator: '.' })}}</strong></li>
      
  </ul>
   <el-form  :label-position="'top'" :model="selected" ref="anular" style="margin-top:0px" label-width="120px" class="demo-dynamic">
    

   
                <el-form-item
                    prop="motivo"
                    label="Motivo de la anulación"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input type="textarea" v-model="selected.motivo"></el-input>
                </el-form-item>
       
  </el-form>
  <span slot="footer" class="dialog-footer">
       <el-button style="width:100%; margin-top:-10px; display:block" type="danger" :loading="procesando" @click="anularPago('anular')">Anular Pago</el-button> <br>
    <el-button  style="width:100%; margin-top:-10px; display:block" @click="anular = false">Cancelar</el-button>
   
  </span>
</el-dialog>
<el-dialog
  :title="'Generar nuevo pago'"
   :close-on-click-modal="false"
  :visible.sync="generar"
  width="40%">
<!--  
  <ul class="tabla-li">
      <li>Concepto: <strong>{{selected.concepto}}</strong></li>
      <li>Vencimiento: <strong>{{selected.vencimiento | moment('L')}}</strong></li>
      <li>Monto: <strong>${{selected.monto }}</strong></li>
      
  </ul> -->
   <el-form  :label-position="'top'" :model="selected" ref="generar" style="margin-top:0px" label-width="120px" class="demo-dynamic">
    

   
                <el-form-item
                    prop="concepto"
                    label="Concepto a pagar"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input  v-model="selected.concepto"></el-input>
                </el-form-item>
                <el-form-item
                    prop="vencimiento"
                    label="Fecha de vencimiento"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                   <el-date-picker
      v-model="selected.vencimiento"
      type="date"
      placeholder="Vencimiento"
      :default-value="new Date()">
    </el-date-picker>
                </el-form-item>
                <el-form-item
                    prop="monto"
                    label="Monto a pagar"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input type="number"  v-model="selected.monto"></el-input>
                </el-form-item>
       
  </el-form>
  <span slot="footer" class="dialog-footer">
       <el-button style="width:100%; margin-top:-10px; display:block" type="primary" :loading="procesando" @click="generarPago('generar')">Generar Pago</el-button> <br>
    <el-button  style="width:100%; margin-top:-10px; display:block" @click="generar = false">Cancelar</el-button>
   
  </span>
</el-dialog>
<el-dialog
  :title="'Cobrar Expensas'"
   :close-on-click-modal="false"
  :visible.sync="expensas"
  width="40%">

   <el-form  :label-position="'top'" :model="selected" ref="generar" style="margin-top:0px" label-width="120px" class="demo-dynamic">
    

   
                <el-form-item
                    prop="concepto"
                    label="Concepto a pagar"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input  v-model="selected.concepto"></el-input>
                </el-form-item>
                <el-form-item
                    prop="vencimiento"
                    label="Fecha de vencimiento"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                   <el-date-picker
      v-model="selected.vencimiento"
      type="date"
      placeholder="Vencimiento"
      :default-value="new Date()">
    </el-date-picker>
                </el-form-item>
                <el-form-item
                    prop="monto"
                    label="Monto a pagar"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                  <el-input type="number"  v-model="selected.monto"></el-input>
                </el-form-item>
       
  </el-form>
  <span slot="footer" class="dialog-footer">
       <el-button style="width:100%; margin-top:-10px; display:block" type="primary" :loading="procesando" @click="generarPago('generar')">Generar Pago</el-button> <br>
    <el-button  style="width:100%; margin-top:-10px; display:block" @click="expensas = false">Cancelar</el-button>
   
  </span>
</el-dialog>
    </div>
</template>

<script>
    import { HTTP } from '@/axios.js'
    import printer from "vue-printer";
      import test from "@/components/HelloWorld"; // just shows where $options.components.test is from

    export default {
        props: ['cliente'],
          components: {
    printer,
    test
  },
        data() {
            return {
                expensas:false,
                generar:false,
                anular:false,
                procesando:false,
                selected:{},
                cobrar:false,
                datosCliente:'',
                fecha: new Date(),
              cliente_id:'',
              pagos:[],
              deuda:0,
      printer_off: false,
                output: null
            }
        },
        created(){
            console.log('this.cliente', this.cliente)
            this.cliente_id = this.$route.params.id
          
            this.getPagos(1);
            this.getDeuda();
             HTTP.post('/cliente/detalle', {id:this.cliente_id})
               .then(res => {
                   console.log('datosCliente', res.data)
                   this.datosCliente = res.data
               })
        },
         methods: {
             getPagos(page){
                 HTTP.post('/pagos/cliente', {id: this.cliente_id, page: page})
                     .then( res => {
                         this.pagos = res.data
                     })
             },
              getDeuda(){
                 HTTP.post('/pagos/deuda', {id: this.cliente_id})
                     .then( res => {
                         this.deuda = res.data
                     })
             },
             getOpcion(row, action){
            //    this.$htmlToPaper('printMe');
            console.log('tos', row)
            this.selected = row;
                 
                 switch (action) {
                     case 'cobrar':
                     this.cobrar = true
                      break;
                      case 'anular':
                     this.anular = true
                      break;
                 
                     default:
                         break;
                 }


             },
            generarPago(formName) {
                 this.selected.cliente_id = this.cliente_id 
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this.procesando = true
            console.log(this.selected)
            
            HTTP.post('/pagos/generar', this.selected)
                .then( res => {
              this.procesando = false

                  this.getPagos(1);
                   this.selected ={}
                   this.generar = false
                    
                   this.$message({
          showClose: true,
          message: 'El pago se generó realizó correctamente',
          type: 'success'
        });
       
                    
                      
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
            anularPago(formName) {
                 
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this.procesando = true
            console.log(this.selected)
            HTTP.post('/pagos/anular', this.selected)
                .then( res => {
              this.procesando = false

                  this.getPagos(1);
                   this.getDeuda();
                   this.selected ={}
                   this.anular = false
                    
                   this.$message({
          showClose: true,
          message: 'El pago se anuló realizó correctamente',
          type: 'success'
        });
       
                    
                      
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
             realizarPago(formName) {
                 
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this.procesando = true
            console.log(this.selected)
            HTTP.post('/pagos/registrar', this.selected)
                .then( res => {
              this.procesando = false

                  this.getPagos(1);
                   this.selected ={}
                   this.cobrar = false
                    
                   this.$message({
          showClose: true,
          message: 'El pago se registró realizó correctamente',
          type: 'success'
        });
        setTimeout(() => {
            this.ImprimirPdf(res.data)
        }, 500);
                    
                      
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      ImprimirPdf(pdf)
    {
      $('<iframe>', {name: 'myiframe',class: 'printFrame'})
        .appendTo('body')
        .contents().find('body')
        .append(pdf);
        window.frames['myiframe'].focus();
       
        setTimeout(() => {  window.frames['myiframe'].print(); }, 500);      
        setTimeout(() => { $(".printFrame").remove(); }, 1000);      
    },

     
    }
    }
</script>

<style scoped>
.table-col{
    border-bottom: 1px solid #f1f1f1;
    padding:10px;
}
.ficha{
    position: relative;
    padding: 10px;
}
.datos-editar a{
     color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
.datos-editar{
    position: absolute;
    top:0;
    background: #437A5A;
    right:0;
    padding:4px;
    color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
.datos{
    position: absolute;
    top:0;
    background: #437A5A;
    left:0;
    padding:4px;
    color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
</style>