<template>
  <div>
    <div class="svg-container" v-if="plano === 'plano'">
      <h3>1.- Seleccione manzana y cuadro</h3>
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 1080"
        style="enable-background:new 0 0 1920 1080;"
        xml:space="preserve"
      >
        <g class="cuadros">
          <g>
            <polygon
              class="st0"
              points="350.7,293.3 359.7,945.5 1627.8,978.6 1850.7,305.4 1346.2,282.8 1061.5,272.3 840.2,296.4 	"
            ></polygon>
            <line class="st0" x1="376.2" y1="945.9" x2="365.8" y2="293.4"></line>
            <rect
              x="385.3"
              y="311.4"
              class="st1"
              width="143.1"
              height="143.1"
              @click="getDetalle(1,1)"
              cuadro="1"
              manzana="1"
              sector="DIAMANTE *"
              parcelas="485"
            ></rect>

            <rect
              x="542"
              y="311.4"
              class="st1"
              width="87.3"
              height="143.1"
              @click="getDetalle(1,2)"
              cuadro="2"
              manzana="1"
              sector="DIAMANTE *"
              parcelas="299"
            ></rect>
            <rect
              x="639.9"
              y="311.4"
              class="st2"
              width="97.9"
              height="155.1"
              @click="getDetalle(2,1)"
              cuadro="1"
              manzana="2"
              sector="ZAFIRO"
              parcelas="378"
            ></rect>
            <rect
              x="748.3"
              y="311.4"
              class="st2"
              width="97.9"
              height="155.1"
              @click="getDetalle(2,2)"
              cuadro="2"
              manzana="2"
              sector="ZAFIRO"
              parcelas="336"
            ></rect>

            <polygon
              class="st2"
              points="957.6,305.4 901.9,305.4 901.9,322 861.2,322 859,466.5 955.4,466.5 	"
              @click="getDetalle(3,1)"
              cuadro="1"
              manzana="3"
              sector="ZAFIRO"
              parcelas="365"
            ></polygon>
            <polygon
              class="st2"
              points="1058.5,305.4 1058.5,466.5 963.7,466.5 965.2,305.4 993.8,305.4 993.8,293.7 1058.5,293.7 	"
              cuadro="2"
              manzana="3"
              sector="ZAFIRO"
              parcelas="409"
              @click="getDetalle(3,2)"
            ></polygon>
            <rect
              x="1089.8"
              y="293.7"
              class="st2"
              width="113"
              height="179.1"
              cuadro="1"
              manzana="4"
              sector="ZAFIRO"
              parcelas="544"
              @click="getDetalle(4,1)"
            ></rect>
            <rect
              x="1212.9"
              y="293.7"
              class="st2"
              width="113"
              height="179.1"
              cuadro="2"
              manzana="4"
              sector="ZAFIRO"
              parcelas="464"
              @click="getDetalle(4,2)"
            ></rect>
            <rect
              x="1348.4"
              y="305.4"
              class="st3"
              width="111.8"
              height="172.1"
              @click="getDetalle(5,1)"
              cuadro="1"
              manzana="5"
              sector="ESMERALDA"
              parcelas="480"
            ></rect>
            <rect
              x="1469.3"
              y="305.4"
              class="st3"
              width="111.8"
              height="172.1"
              @click="getDetalle(5,2)"
              cuadro="2"
              manzana="5"
              sector="ESMERALDA"
              parcelas="449"
            ></rect>
            <path class="st0" d="M1592.4,311.4"></path>
            <polygon
              class="st3"
              points="1590.5,315.6 1592.4,481.2 1774.7,484.2 1831.1,320.1 	"
              @click="getDetalle(6,1)"
              cuadro="1"
              manzana="6"
              sector="ESMERALDA"
              parcelas="802"
            ></polygon>
            <polygon
              class="st4"
              points="1770.3,500.6 1592.4,497.2 1592.4,628.2 1725.7,631.1 	"
              @click="getDetalle(6,2)"
              cuadro="2"
              manzana="6"
              sector="RUBÍ"
              parcelas="474"
            ></polygon>
            <rect
              x="1348.4"
              y="491.6"
              class="st4"
              width="228.7"
              height="136.1"
              @click="getDetalle(5,3)"
              cuadro="3"
              manzana="5"
              sector="RUBÍ"
              parcelas="728"
            ></rect>
            <rect
              x="1212.9"
              y="487.1"
              class="st5"
              width="107.3"
              height="117.5"
              @click="getDetalle(4,4)"
              cuadro="4"
              manzana="4"
              sector="DIAMANTE"
              parcelas="318"
            ></rect>
            <rect
              x="1073.4"
              y="484.2"
              class="st5"
              width="124.8"
              height="120.3"
              @click="getDetalle(4,3)"
              cuadro="3"
              manzana="4"
              sector="DIAMANTE"
              parcelas="374"
            ></rect>
            <rect
              x="961"
              y="480.3"
              class="st5"
              width="93.2"
              height="124.2"
              @click="getDetalle(3,4)"
              cuadro="4"
              manzana="3"
              sector="DIAMANTE"
              parcelas="286"
            ></rect>
            <rect
              x="859"
              y="480.3"
              class="st4"
              width="91.3"
              height="121.4"
              @click="getDetalle(3,3)"
              cuadro="3"
              manzana="3"
              sector="RUBÍ"
              parcelas="275"
            ></rect>
            <rect
              x="748.3"
              y="480.3"
              class="st4"
              width="91.9"
              height="121.4"
              @click="getDetalle(2,4)"
              cuadro="4"
              manzana="2"
              sector="RUBÍ"
              parcelas="264"
            ></rect>
            <rect
              x="639.9"
              y="477.5"
              class="st4"
              width="97.9"
              height="124.2"
              @click="getDetalle(2,3)"
              cuadro="3"
              manzana="2"
              sector="RUBÍ"
              parcelas="297"
            ></rect>
            <rect
              x="536.3"
              y="472.4"
              class="st1"
              width="88.1"
              height="122"
              @click="getDetalle(1,4)"
              cuadro="4"
              manzana="1"
              sector="DIAMANTE *"
              parcelas="253"
            ></rect>
            <rect
              x="381.6"
              y="466.5"
              class="st1"
              width="144"
              height="44.8"
              @click="getDetalle(1,3)"
              cuadro="3"
              manzana="1"
              sector="DIAMANTE *"
              parcelas="142"
            ></rect>
            <rect x="388.9" y="511.3" class="st0" width="110.1" height="54.2"></rect>
            <line class="st0" x1="426.8" y1="661.4" x2="1578.9" y2="665.9"></line>
            <polygon class="st0" points="1710.8,654.8 1592.4,654.8 1592.4,806.9 1664,806.9 	"></polygon>
            <polygon class="st0" points="1590.5,823.5 1651.6,823.5 1614.3,954.5 1585.6,954.5 	"></polygon>
            <rect x="1338.7" y="648" class="st0" width="238.5" height="152.1"></rect>
            <rect x="1338.7" y="823.5" class="st0" width="113" height="122"></rect>
            <rect x="1462.8" y="823.5" class="st0" width="114.4" height="122.4"></rect>
            <rect x="1212.9" y="648.8" class="st0" width="107.3" height="144.6"></rect>
            <rect x="1212.9" y="806.9" class="st0" width="107.3" height="139"></rect>
            <rect x="1073.4" y="648.8" class="st0" width="124.8" height="144.6"></rect>
            <rect x="1073.4" y="806.9" class="st0" width="124.8" height="138.6"></rect>
            <rect x="957.6" y="642.7" class="st0" width="90.4" height="150.6"></rect>
            <rect x="957.6" y="806.9" class="st0" width="90.4" height="129.5"></rect>
            <rect x="846.2" y="642.7" class="st0" width="94.9" height="141.6"></rect>
            <rect x="846.2" y="800.9" class="st0" width="94.9" height="135.5"></rect>
            <rect x="737.8" y="642.7" class="st0" width="88.9" height="141.6"></rect>
            <rect x="737.8" y="793.3" class="st0" width="79.8" height="143.1"></rect>
            <rect x="624.4" y="642.7" class="st0" width="101.3" height="141.6"></rect>
            <rect x="624.4" y="793.3" class="st0" width="90.7" height="134"></rect>
            <rect x="525.6" y="642.7" class="st0" width="84.1" height="132.5"></rect>
            <rect x="525.6" y="800.9" class="st0" width="76.6" height="126.5"></rect>
            <rect x="388.9" y="680.4" class="st0" width="119.9" height="94.9"></rect>
            <rect x="395.9" y="800.9" class="st0" width="113" height="126.5"></rect>
            <polyline
              class="st0"
              points="426.8,674.6 426.8,642.7 508.8,642.7 508.8,680.4 1577.2,685.9 	"
            ></polyline>
          </g>
          <g>
            <polygon
              class="st6"
              points="1145.1,722.7 1145.1,735.3 1145.1,735.4 1152.8,735.4 1152.8,727.1 	"
            ></polygon>
            <polygon
              class="st6"
              points="1110.6,735.4 1118.3,735.4 1118.3,735.3 1118.3,722.7 1110.6,727.1 	"
            ></polygon>
            <path
              class="st6"
              d="M1119.7,718.4v17h7.9v-7.2c0-2.3,1.8-4.1,4.1-4.1h0.1c2.3,0,4.1,1.8,4.1,4.1v7.2h7.9v-17l-12-10L1119.7,718.4z
		"
            ></path>
            <polygon
              class="st6"
              points="1114.3,716.6 1116.4,719.1 1131.7,706.5 1147,719.1 1149,716.6 1132.6,703.1 1132.6,700.1 
		1135.6,700.1 1135.6,698.2 1132.6,698.2 1132.6,696.1 1130.7,696.1 1130.7,698.2 1127.8,698.2 1127.8,700.1 1130.7,700.1 
		1130.7,703.1 	"
            ></polygon>
          </g>
          <g>
            <path
              class="st6"
              d="M1094.8,766.2c-0.1,2.5-0.8,4.4-2.1,5.7c-1.3,1.3-3.2,1.9-5.5,1.9c-2.5,0-4.4-0.8-5.8-2.5c-1.3-1.7-2-4-2-7.1
		v-3.7c0-3,0.7-5.4,2.1-7c1.4-1.7,3.3-2.5,5.8-2.5c2.4,0,4.3,0.7,5.5,2c1.3,1.4,2,3.3,2.1,5.8h-4.5c0-1.6-0.3-2.6-0.7-3.2
		c-0.4-0.6-1.3-0.9-2.4-0.9c-1.2,0-2,0.4-2.5,1.3c-0.5,0.8-0.8,2.2-0.8,4.1v4.2c0,2.2,0.2,3.7,0.7,4.5c0.5,0.8,1.3,1.2,2.5,1.2
		c1.2,0,2-0.3,2.4-0.9c0.4-0.6,0.7-1.6,0.8-3.1H1094.8z"
            ></path>
            <path
              class="st6"
              d="M1108.2,769h-6.1l-1.2,4.5h-4.7l6.9-22.2h4.1l7,22.2h-4.8L1108.2,769z M1103,765.3h4.1l-2.1-7.9L1103,765.3z"
            ></path>
            <path
              class="st6"
              d="M1120.7,765.8v7.8h-4.5v-22.2h7.6c2.2,0,3.9,0.7,5.2,2c1.3,1.4,2,3.1,2,5.3c0,2.2-0.6,3.9-1.9,5.1
		c-1.3,1.3-3.1,1.9-5.4,1.9H1120.7z M1120.7,762h3.1c0.9,0,1.5-0.3,2-0.8c0.5-0.6,0.7-1.4,0.7-2.4c0-1.1-0.2-2-0.7-2.6
		c-0.5-0.7-1.1-1-1.9-1h-3.1V762z"
            ></path>
            <path class="st6" d="M1138.6,773.6h-4.5v-22.2h4.5V773.6z"></path>
            <path class="st6" d="M1146.9,769.8h7.9v3.7h-12.3v-22.2h4.5V769.8z"></path>
            <path class="st6" d="M1161.8,769.8h7.9v3.7h-12.3v-22.2h4.5V769.8z"></path>
            <path
              class="st6"
              d="M1183.1,769h-6.1l-1.2,4.5h-4.7l6.9-22.2h4.1l7,22.2h-4.8L1183.1,769z M1178,765.3h4.1l-2.1-7.9L1178,765.3z"
            ></path>
          </g>
          <g>
            <rect x="931" y="449.4" class="st7" width="51.3" height="51.3"></rect>
            <g>
              <path
                class="st6"
                d="M955.4,473.7h1.8c1.2,0,2-0.4,2.7-1.1c0.6-0.7,0.9-1.7,0.9-2.9c0-2.7-1-4.1-3.1-4.1c-1,0-1.8,0.4-2.4,1.1
			s-0.9,1.7-0.9,2.9h-2.8c0-1.9,0.6-3.4,1.7-4.6s2.6-1.8,4.3-1.8c1.8,0,3.3,0.6,4.3,1.7c1.1,1.1,1.6,2.8,1.6,4.8
			c0,1.1-0.3,2.1-0.8,3c-0.6,0.9-1.3,1.6-2.2,2c2.2,0.8,3.3,2.6,3.3,5.4c0,2.1-0.6,3.7-1.7,4.9s-2.6,1.8-4.5,1.8
			c-1.8,0-3.3-0.6-4.4-1.7s-1.7-2.7-1.7-4.7h2.8c0,1.2,0.3,2.2,0.9,2.9c0.6,0.7,1.4,1.1,2.4,1.1c1,0,1.9-0.4,2.5-1.1
			c0.6-0.7,0.9-1.8,0.9-3.2c0-2.8-1.3-4.2-4-4.2h-1.7V473.7z"
              ></path>
            </g>
          </g>
          <g>
            <rect x="1179.8" y="450.1" class="st7" width="51.3" height="51.3"></rect>
            <g>
              <path
                class="st6"
                d="M1211.2,479.6h2.6v2.4h-2.6v5.4h-2.8V482h-8.7v-1.7l8.6-16h3V479.6z M1202.8,479.6h5.6v-11L1202.8,479.6z"
              ></path>
            </g>
          </g>
          <g>
            <rect x="1437.2" y="453.9" class="st7" width="51.3" height="51.3"></rect>
            <g>
              <path
                class="st6"
                d="M1459,479.6l1-11.5h10.1v2.7h-7.7l-0.5,6.3c1-0.7,2-1,3.1-1c1.8,0,3.2,0.7,4.2,2.1c1,1.4,1.5,3.3,1.5,5.6
			c0,2.4-0.6,4.3-1.7,5.6c-1.1,1.4-2.6,2-4.6,2c-1.7,0-3.2-0.6-4.2-1.7c-1.1-1.1-1.7-2.7-1.9-4.7h2.6c0.2,1.3,0.5,2.3,1.1,3
			c0.6,0.7,1.4,1,2.3,1c1.1,0,1.9-0.5,2.6-1.4c0.6-0.9,0.9-2.2,0.9-3.8c0-1.5-0.3-2.7-1-3.7c-0.7-1-1.6-1.4-2.7-1.4
			c-0.9,0-1.7,0.2-2.2,0.7l-0.7,0.7L1459,479.6z"
              ></path>
            </g>
          </g>
          <g>
            <rect x="1655.7" y="463.3" class="st7" width="51.3" height="51.3"></rect>
            <g>
              <path
                class="st6"
                d="M1686.2,477.4v2.5h-0.5c-1.9,0-3.3,0.7-4.4,1.9c-1.1,1.2-1.7,3.1-1.8,5.5c1-1.3,2.3-1.9,3.9-1.9
			c1.7,0,3.1,0.7,4.1,2.1c1,1.4,1.5,3.2,1.5,5.5c0,2.4-0.6,4.3-1.7,5.7c-1.1,1.4-2.6,2.1-4.5,2.1c-1.9,0-3.4-0.8-4.5-2.5
			c-1.1-1.7-1.7-3.9-1.7-6.6v-1.1c0-3.2,0.3-5.7,1-7.6c0.7-1.9,1.7-3.3,3-4.2c1.3-0.9,3-1.4,5-1.4H1686.2z M1683,487.8
			c-0.8,0-1.5,0.3-2.1,0.9c-0.6,0.6-1.1,1.3-1.4,2.2v1.2c0,1.9,0.3,3.4,1,4.6s1.5,1.8,2.4,1.8c1,0,1.9-0.5,2.5-1.5
			c0.6-1,0.9-2.2,0.9-3.8c0-1.6-0.3-2.8-0.9-3.8C1684.8,488.3,1684,487.8,1683,487.8z"
              ></path>
            </g>
          </g>
          <g>
            <rect x="507.2" y="435.1" class="st7" width="51.3" height="51.3"></rect>
            <g>
              <path class="st6" d="M536.3,472.4h-2.8v-19.6l-4.9,2.2v-2.7l7.2-3.2h0.4V472.4z"></path>
            </g>
          </g>
          <g>
            <rect x="717" y="442.3" class="st7" width="51.3" height="51.3"></rect>
            <g>
              <path
                class="st6"
                d="M750.7,479.6h-12.9v-2.1l6.6-8.7c1-1.3,1.7-2.4,2.1-3.3c0.4-0.9,0.6-1.8,0.6-2.7c0-1.2-0.3-2.2-0.9-3
			c-0.6-0.8-1.3-1.1-2.3-1.1c-1.2,0-2.1,0.4-2.7,1.2c-0.6,0.8-1,2-1,3.5h-2.8c0-2.1,0.6-3.8,1.7-5.2c1.2-1.3,2.7-2,4.7-2
			c1.8,0,3.3,0.6,4.4,1.7c1.1,1.1,1.6,2.6,1.6,4.5c0,2.3-1.2,5-3.6,8.1l-5.1,6.7h9.6V479.6z"
              ></path>
            </g>
          </g>
          <g>
            <path class="st8" d="M453.3,384h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V384z"></path>
          </g>
          <g>
            <path
              class="st8"
              d="M590.2,381h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		s-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.4-2.1,2.5-2.7s2.3-1,3.6-1
		c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V381z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M452,487.1h2.2c0.8,0,1.4-0.3,1.8-0.9s0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2c-0.4-0.5-0.9-0.8-1.6-0.8
		c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2c0.6-1,1.3-1.7,2.3-2.2c1-0.5,2.1-0.8,3.3-0.8
		c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1
		c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8s-1.9-2.8-1.9-4.8h4.5
		c0,0.8,0.2,1.5,0.7,2.1c0.4,0.6,1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4H452V487.1z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M585.6,544.9h2v3.7h-2v5h-4.5v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V544.9z M577.6,544.9h3.5v-7.7l-0.1,0.2
		L577.6,544.9z"
            ></path>
          </g>
          <g>
            <path class="st8" d="M693.3,380.8h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V380.8z"></path>
          </g>
          <g>
            <path
              class="st8"
              d="M801.2,381h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		s-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9s1.4-2.1,2.5-2.7c1.1-0.7,2.3-1,3.6-1
		c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V381z"
            ></path>
          </g>
          <g>
            <path class="st8" d="M912.8,380.8h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V380.8z"></path>
          </g>
          <g>
            <path
              class="st8"
              d="M686.4,536.4h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2
		c-0.4-0.5-0.9-0.8-1.6-0.8c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2s1.3-1.7,2.3-2.2
		c1-0.5,2.1-0.8,3.3-0.8c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9s-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1
		c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8c-1.2-1.2-1.9-2.8-1.9-4.8h4.5
		c0,0.8,0.2,1.5,0.7,2.1c0.4,0.6,1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4h-2.2V536.4z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M798.7,541h2v3.7h-2v5h-4.5v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V541z M790.7,541h3.5v-7.7l-0.1,0.2L790.7,541z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M1014.6,381H1001v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		s-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9s1.4-2.1,2.5-2.7s2.3-1,3.6-1
		c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V381z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M909.1,533.7h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2
		c-0.4-0.5-0.9-0.8-1.6-0.8c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2c0.6-1,1.3-1.7,2.3-2.2
		s2.1-0.8,3.3-0.8c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9s-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1
		c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8c-1.2-1.2-1.9-2.8-1.9-4.8h4.5
		c0,0.8,0.2,1.5,0.7,2.1c0.4,0.6,1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4h-2.2V533.7z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M1015.5,534.8h2v3.7h-2v5h-4.5v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V534.8z M1007.5,534.8h3.5v-7.7l-0.1,0.2
		L1007.5,534.8z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M1131.7,533.7h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2
		c-0.4-0.5-0.9-0.8-1.6-0.8c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2c0.6-1,1.3-1.7,2.3-2.2
		c1-0.5,2.1-0.8,3.3-0.8c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1
		c1.1,0.5,1.9,1.2,2.4,2.1c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9s-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8
		c-1.2-1.2-1.9-2.8-1.9-4.8h4.5c0,0.8,0.2,1.5,0.7,2.1c0.4,0.6,1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3
		c0-2.3-0.9-3.4-2.7-3.4h-2.2V533.7z"
            ></path>
          </g>
          <g>
            <path
              class="st8"
              d="M1274.6,540h2v3.7h-2v5h-4.5v-5h-7.7l-0.2-2.9l7.8-15.2h4.5V540z M1266.6,540h3.5v-7.7l-0.1,0.2L1266.6,540z"
            ></path>
          </g>
          <g>
            <path class="st8" d="M1138.6,384h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V384z"></path>
          </g>
          <g>
            <path
              class="st8"
              d="M1283,383.3h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		c-0.4-0.6-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.4-2.1,2.5-2.7
		c1.1-0.7,2.3-1,3.6-1c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V383.3
		z"
            ></path>
          </g>
          <g>
            <path class="st8" d="M1408.8,383.1h-4.5v-17.7l-4.4,1.7v-3.7l8.4-3.4h0.5V383.1z"></path>
          </g>
          <g>
            <path
              class="st8"
              d="M1532.2,384.1h-13.6V381l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		s-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.4-2.1,2.5-2.7s2.3-1,3.6-1
		c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V384.1z"
            ></path>
          </g>
          <g>
            <path class="st9" d="M1687.4,391.7h-4.5V374l-4.4,1.7V372l8.4-3.4h0.5V391.7z"></path>
          </g>
          <g>
            <path
              class="st8"
              d="M1457.8,562.1h2.2c0.8,0,1.4-0.3,1.8-0.9c0.4-0.6,0.6-1.3,0.6-2.3c0-0.9-0.2-1.6-0.6-2.2s-0.9-0.8-1.6-0.8
		c-0.6,0-1.1,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,1.8h-4.5c0-1.2,0.3-2.3,0.8-3.2s1.3-1.7,2.3-2.2c1-0.5,2.1-0.8,3.3-0.8
		c2.1,0,3.8,0.6,5,1.8c1.2,1.2,1.8,2.8,1.8,4.8c0,1-0.3,2-0.8,2.9c-0.5,0.9-1.3,1.6-2.2,2.1c1.1,0.5,1.9,1.2,2.4,2.1
		c0.5,0.9,0.8,2,0.8,3.3c0,2.1-0.7,3.7-2,4.9c-1.3,1.2-3,1.9-5.2,1.9c-2,0-3.6-0.6-4.8-1.8c-1.2-1.2-1.9-2.8-1.9-4.8h4.5
		c0,0.8,0.2,1.5,0.7,2.1s1,0.8,1.7,0.8c0.8,0,1.4-0.3,1.8-0.9c0.5-0.6,0.7-1.3,0.7-2.3c0-2.3-0.9-3.4-2.7-3.4h-2.2V562.1z"
            ></path>
          </g>
          <g>
            <path
              class="st9"
              d="M1683.2,576.3h-13.6v-3.2l6.3-8c0.8-1.1,1.4-2.1,1.8-2.9c0.4-0.8,0.6-1.6,0.6-2.4c0-1-0.2-1.8-0.5-2.4
		c-0.4-0.6-0.9-0.9-1.5-0.9c-0.7,0-1.3,0.3-1.7,1c-0.4,0.7-0.6,1.6-0.6,2.9h-4.5c0-1.4,0.3-2.7,0.9-3.9c0.6-1.2,1.4-2.1,2.5-2.7
		s2.3-1,3.6-1c2.1,0,3.7,0.6,4.8,1.7c1.1,1.1,1.7,2.8,1.7,4.9c0,1.3-0.3,2.6-0.9,4c-0.6,1.3-1.8,3-3.4,4.9l-3,4.2h7.9V576.3z"
            ></path>
          </g>
        </g>
        <!-- <g transform="scale(1.2)">
        <g class="tooltip exact">
            <rect width="4em" height="1.25em"/>
            <text dy="1em" x="2em" text-anchor="middle">
              SVG Tip</text>
        </g>
        </g>-->
        <g transform="scale(3)">
          <g class="tooltip mouse">
            <rect width="9.5em" height="5em" x="-7.5em" y="-5.5em"></rect>
            <text x="-3.25em" y="-6em" font-size="14" text-anchor="middle" style="padding:10px">
              <tspan x="-6.5em" dy="1.7em" font-size="12">
                Sector:
                <tspan x="-1.8em" class="sector"></tspan>
              </tspan>
              <tspan x="-6em" dy="1.2em" font-size="12">
                Manzana:
                <tspan x="-2.8em" class="manzana"></tspan>
              </tspan>
              <tspan x="-6em" dy="1.2em" font-size="12">
                Cuadro:
                <tspan x="-2.8em" class="cuadro"></tspan>
              </tspan>
              <tspan x="-6em" dy="1.2em" font-size="12">
                Parcelas:
                <tspan x="-2.8em" class="parcelas"></tspan>
              </tspan>
            </text>
          </g>
        </g>
      </svg>

      <!-- <div class="mouse tooltip" >Mouse-tracking HTML Tip</div> -->
    </div>
    <div class="cuadro" v-if="plano === 'fila'">
      <h3>2.- Seleccione fila y parcela - para la manzana {{manzana}} y cuadro {{cuadro}}</h3>

      <div class="filas" v-for="fila in filas" :key="fila.id">
        <div
          style="float:left; margin-right:20px; margin-top:15px"
        >F{{fila.fila}}{{fila.fila_letra}}</div>

        <div
          class="parcela"
          :style="{'max-width': '19px', 'width' : 'calc((90% / '+ fila.total +') )', 'height':+ fila.total + 'px', 'min-height': '40px','max-height': '40px'}"
          v-for="c in parcelas"
          :key="c.id"
          v-if="(c.fila === fila.fila) && (c.fila_letra === fila.fila_letra) "
          :class="{'juntar' : (fila.tipo === 2), 'separar' : (fila.fila_letra === 'B'), 'unica' : (fila.tipo === 1), 'styling' :(c.estado === 0) }"
          @click="getDetalles(c)"
        >{{c.numero}}</div>
      </div>
    </div>
    <div class="cuadro" v-if="(plano === 'terreno') && selectParcela">
      <el-row>
        <el-col :md="8">
          <el-card class="v-parcela">
            <h3>Parcela</h3>
            <ul class="ul-table">
              <li>
                Sector:
                <strong>{{selectParcela.sector}}</strong>
              </li>
              <li>
                Manzana:
                <strong>{{selectParcela.manzana}}</strong>
              </li>
              <li>
                Cuadro:
                <strong>{{selectParcela.cuadro}}</strong>
              </li>
              <li>
                Fila:
                <strong>{{selectParcela.fila}}{{selectParcela.fila_letra}}</strong>
              </li>
              <li>
                Ubicación:
                <strong>{{selectParcela.numero}}</strong>
              </li>
              <li>
                Precio contado:
                <strong>${{selectParcela.contado}}</strong>
              </li>
            </ul>
            <el-form>
              <el-form-item
                prop="pago_tipo"
                label="Forma de Pago"
                :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
              >
                <el-select v-model="selectParcela.pago_tipo" placeholder="Forma de pago">
                  <el-option
                    v-for="item in metodos"
                    :key="item.nombre"
                    :label="item.nombre"
                    :value="item.nombre"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item
                prop="cuotas"
                label="N° de cuotas"
                :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
                    ]"
              >
                <el-select v-model="selectParcela.cuotas" placeholder="Cuotas">
                  <el-option v-for="item in cuotas" :key="item" :label="item" :value="item"></el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
        <el-col :md="8">
          <el-card class="v-parcela">
            <h3>Cliente</h3>
            <ul class="ul-table">
              <li>
                Nombre:
                <strong>{{cliente.nombre}}</strong>
              </li>
              <li>
                DNI:
                <strong>{{cliente.dni}}</strong>
              </li>
              <!-- <li>Cuadro: <strong>{{selectParcela.cuadro}}</strong> </li>
                      <li>Fila: <strong>{{selectParcela.fila}}{{selectParcela.fila_letra}}</strong> </li>
                      <li>Ubicación: <strong>{{selectParcela.numero}}</strong> </li>
              <li>Precio contado: <strong>${{selectParcela.contado}}</strong> </li>-->
            </ul>
          </el-card>
        </el-col>
        <el-col :md="8">
          <el-card class="v-parcela">
            <h3>Confirmación</h3>

            <ul class="ul-table">
              <li>Parcela ID: {{selectParcela.id}}</li>
              <li>Cliente ID: {{cliente.id}}</li>
              <li>Pago: {{selectParcela.pago_tipo}}</li>
              <li>Cuotas: {{selectParcela.cuotas}}</li>
            </ul>
            <br>
            <el-button
              v-if="selectParcela.pago_tipo && selectParcela.cuotas && cliente.id && selectParcela.contado "
              @click="addTerreno"
              class="w100"
              type="primary"
              :loading="procesando1"
            >AGREGAR TERRENO</el-button>
            <br>
            <br>
            <el-button @click="cerrarModal" class="w100">Cancelar</el-button>
          </el-card>
        </el-col>
      </el-row>
      <!-- {{selectParcela}}
      {{cliente}}-->
    </div>
  </div>
</template>

<script>
import { HTTP } from "@/axios";
import { EventBus } from "@/event-bus.js";
import * as d3 from "d3";

export default {
  props: ["cativo"],
  data() {
    return {
      procesando1:false,
      active: "",
      plano: "plano",
      selectParcela: {},
      modalParcela: false,
      filas: 0,
      parcelas: [],
      activeColor: "",
      manzana: "",
      cuadro: "",
      cliente: {},
      metodos: [{ nombre: "Efectivo" }, { nombre: "Tarjeta" }],
      cuotas: [1, 6, 12]
    };
  },
  mounted() {
    var tooltip = d3.selectAll(".tooltip:not(.css)");
    var HTMLabsoluteTip = d3.select("div.tooltip.absolute");
    var HTMLfixedTip = d3.select("div.tooltip.fixed");
    var HTMLmouseTip = d3.select("div.tooltip.mouse");
    var SVGexactTip = d3.select("g.tooltip.exact");
    var SVGmouseTip = d3.select("g.tooltip.mouse");
    var sector = d3.select(".sector");
    var manzana = d3.select(".manzana");
    var cuadro = d3.select(".cuadro");
    var parcelas = d3.select(".parcelas");
    /* If this seems like a lot of different variables,
                    remember that normally you'd only implement one 
                    type of tooltip! */

    /* I'm using d3 to add the event handlers to the circles
                    and set positioning attributes on the tooltips, but
                    you could use JQuery or plain Javascript. */
    d3.select("svg")
      .select("g")
      .selectAll("rect")

      /***** Easy but ugly tooltip *****/

      // .attr("title", "Automatic Title Tooltip")

      .on("mouseover", function() {
        tooltip.style("opacity", "1");
        console.log(this.getAttribute("cuadro"));

        /* You'd normally set the tooltip text
                            here, based on data from the  element
                            being moused-over; I'm just setting colour. */
        tooltip.style("color", this.getAttribute("fill"));

        /* Note: SVG text is set in CSS to link fill colour to 
                            the "color" attribute. */
        cuadro.text(this.getAttribute("cuadro"));
        sector.text(this.getAttribute("sector"));
        manzana.text(this.getAttribute("manzana"));
        parcelas.text(this.getAttribute("parcelas"));

        /***** Positioning a tooltip precisely
                                 over an SVG element *****/

        /***** For an SVG tooltip *****/

        //"this" in the context of this function
        //is the element that triggered this event handler
        //which will be one of the circle elements.

        SVGexactTip.attr(
          "transform",
          "translate(" + matrix.e + "," + (matrix.f - 20) + ")"
        );

        /***** For an HTML tooltip *****/

        //for the HTML tooltip, we're not interested in a
        //transformation relative to an internal SVG coordinate
        //system, but relative to the page body

        //We can't get that matrix directly,
        //but we can get the conversion to the
        //screen coordinates.

        var matrix = this.getScreenCTM().translate(
          +this.getAttribute("cx"),
          +this.getAttribute("cy")
        );

        //You can use screen coordinates directly to position
        //a fixed-position tooltip
        HTMLfixedTip.style("left", matrix.e + "px").style(
          "top",
          matrix.f + 3 + "px"
        );
        //The limitation of fixed position is that it won't
        //change when scrolled.

        //A better solution is to calculate the position
        //of the page on the screen to position an
        //absolute-positioned tooltip:
        HTMLabsoluteTip.style(
          "left",
          window.pageXOffset + matrix.e + "px"
        ).style("top", window.pageYOffset + matrix.f + 30 + "px");
      })
      .on("mousemove", function() {
        /***** Positioning a tooltip using mouse coordinates *****/

        /* The code is shorter, but it runs every time
                            the mouse moves, so it could slow down other
                            processes or animation. */

        /***** For an SVG tooltip *****/

        var mouseCoords = d3.mouse(SVGmouseTip.node().parentElement);
        //the d3.mouse() function calculates the mouse
        //position relative to an SVG Element, in that
        //element's coordinate system
        //(after transform or viewBox attributes).

        //Because we're using the coordinates to position
        //the SVG tooltip, we want the coordinates to be
        //with respect to that element's parent.
        //SVGmouseTip.node() accesses the (first and only)
        //selected element from the saved d3 selection object.

        SVGmouseTip.attr(
          "transform",
          "translate(" +
            (mouseCoords[0] - 10) +
            "," +
            (mouseCoords[1] - 10) +
            ")"
        );

        /***** For an HTML tooltip *****/

        //mouse coordinates relative to the page as a whole
        //can be accessed directly from the click event object
        //(which d3 stores as d3.event)
        HTMLmouseTip.style(
          "left",
          Math.max(0, d3.event.pageX - 150) + "px"
        ).style("top", d3.event.pageY + 20 + "px");
      })
      .on("mouseout", function() {
        return tooltip.style("opacity", "0");
      });
    d3.select("svg")
      .select("g")
      .selectAll("polygon")

      /***** Easy but ugly tooltip *****/

      // .attr("title", "Automatic Title Tooltip")

      .on("mouseover", function() {
        tooltip.style("opacity", "1");
        console.log(this.getAttribute("cuadro"));

        /* You'd normally set the tooltip text
                            here, based on data from the  element
                            being moused-over; I'm just setting colour. */
        tooltip.style("color", this.getAttribute("fill"));

        /* Note: SVG text is set in CSS to link fill colour to 
                            the "color" attribute. */
        cuadro.text(this.getAttribute("cuadro"));
        sector.text(this.getAttribute("sector"));
        manzana.text(this.getAttribute("manzana"));
        parcelas.text(this.getAttribute("parcelas"));

        /***** Positioning a tooltip precisely
                                 over an SVG element *****/

        /***** For an SVG tooltip *****/

        //"this" in the context of this function
        //is the element that triggered this event handler
        //which will be one of the circle elements.

        SVGexactTip.attr(
          "transform",
          "translate(" + matrix.e + "," + (matrix.f - 20) + ")"
        );

        /***** For an HTML tooltip *****/

        //for the HTML tooltip, we're not interested in a
        //transformation relative to an internal SVG coordinate
        //system, but relative to the page body

        //We can't get that matrix directly,
        //but we can get the conversion to the
        //screen coordinates.

        var matrix = this.getScreenCTM().translate(
          +this.getAttribute("cx"),
          +this.getAttribute("cy")
        );

        //You can use screen coordinates directly to position
        //a fixed-position tooltip
        HTMLfixedTip.style("left", matrix.e + "px").style(
          "top",
          matrix.f + 3 + "px"
        );
        //The limitation of fixed position is that it won't
        //change when scrolled.

        //A better solution is to calculate the position
        //of the page on the screen to position an
        //absolute-positioned tooltip:
        HTMLabsoluteTip.style(
          "left",
          window.pageXOffset + matrix.e + "px"
        ).style("top", window.pageYOffset + matrix.f + 30 + "px");
      })
      .on("mousemove", function() {
        /***** Positioning a tooltip using mouse coordinates *****/

        /* The code is shorter, but it runs every time
                            the mouse moves, so it could slow down other
                            processes or animation. */

        /***** For an SVG tooltip *****/

        var mouseCoords = d3.mouse(SVGmouseTip.node().parentElement);
        //the d3.mouse() function calculates the mouse
        //position relative to an SVG Element, in that
        //element's coordinate system
        //(after transform or viewBox attributes).

        //Because we're using the coordinates to position
        //the SVG tooltip, we want the coordinates to be
        //with respect to that element's parent.
        //SVGmouseTip.node() accesses the (first and only)
        //selected element from the saved d3 selection object.

        SVGmouseTip.attr(
          "transform",
          "translate(" +
            (mouseCoords[0] - 10) +
            "," +
            (mouseCoords[1] - 10) +
            ")"
        );

        /***** For an HTML tooltip *****/

        //mouse coordinates relative to the page as a whole
        //can be accessed directly from the click event object
        //(which d3 stores as d3.event)
        HTMLmouseTip.style(
          "left",
          Math.max(0, d3.event.pageX - 150) + "px"
        ).style("top", d3.event.pageY + 20 + "px");
      })
      .on("mouseout", function() {
        return tooltip.style("opacity", "0");
      });
    var circleGroup = d3.select("g#cuadros");
    d3.select("button#wiggle").on("click", function() {
      circleGroup
        .transition()
        .duration(1000)
        .attr(
          "transform",
          "rotate(" +
            20 * (Math.random() - 0.5) +
            ")" +
            "translate(" +
            20 * (Math.random() - 0.5) +
            "," +
            20 * (Math.random() - 0.5) +
            ")"
        );
    });
  },
  methods: {
    addTerreno() {
      this.procesando1 = true
      this.selectParcela.cliente_id = this.cliente.id;
        setTimeout(() => {
      HTTP.post("/terrenos/agregar",  this.selectParcela).then(res => {
        this.$alert("El terreno fue agregado correctamente", "Nuevo terreno", {
          confirmButtonText: "aceptar",
          callback: action => {
             this.procesando1 =false
            this.plano = "plano";
            setTimeout(() => {
              
              EventBus.$emit("cerrarModal", false);
            }, 60);
            this.$message({
              type: "success",
              message: `debe seleccionar otra parcela`
            });
          }
        });
      });
      }, 60);
    },
    cerrarModal() {
      this.plano = "plano";
      setTimeout(() => {
        EventBus.$emit("cerrarModal", false);
      }, 60);
    },
    getDetalles(c) {
      if (c.estado) {
        this.plano = "terreno";
        setTimeout(() => {
          this.selectParcela = c;
          this.getCliente();
        }, 80);
      } else {
        this.$alert("Parcela no disponible", "Lugar ocupado", {
          confirmButtonText: "aceptar",
          callback: action => {
            this.$message({
              type: "info",
              message: `debe seleccionar otra parcela`
            });
          }
        });
      }
    },
    getCliente() {
      let id = this.$route.params.id;
      console.log(id);
      HTTP.post("/cliente/detalle", { id: id }).then(res => {
        console.log(res.data);
        this.cliente = res.data;
      });
    },
    getDetalle(manzana, cuadro) {
      HTTP.post("/plano/cuadro", { manzana, cuadro }).then(res => {
        this.manzana = manzana;
        this.cuadro = cuadro;
        this.parcelas = res.data.parcelas;
        this.activeColor = res.data.parcelas[0].color;
        this.filas = res.data.filas;
        this.plano = "fila";
      });
    }
  }
};
</script>

<style type="text/css">
.ul-table {
  list-style: none;
  padding: 0;
}
.ul-table li {
  padding: 4px 0px;
  border-bottom: 1px solid #f1f1f1;
}
.v-parcela {
  height: 500px;
}
.v-parcela h3 {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #000;
}
svg {
  width: 100%;
  padding: 0;
  margin-left: -10%;
  margin-top: -10%;
}
.mouse {
  /* position: absolute; */
  z-index: 99999;
  padding: 6px;
}
.st0 {
  fill: none;
  stroke: #111111;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
.st0:hover {
  transform: scaleY(0.99);
  transform-origin: center;
}
.st1 {
  fill: #d9a559;
  stroke: #111111;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
.st1:hover {
  fill: rgb(254, 213, 51);
  transform: scaleY(0.99);
  transform-origin: center;
}
.st2 {
  fill: #3f4d64;
  stroke: #111111;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
.st2:hover {
  fill: rgb(41, 102, 255);
  transform: scaleY(0.99);
}
.st3 {
  fill: #4b8250;
  stroke: #2b2b2b;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}

.st3:hover {
  fill: rgb(70, 228, 3);
  transform: scaleY(0.99);
}
.st4 {
  fill: #a95f56;
  stroke: #111111;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
.st4:hover {
  fill: rgb(220, 14, 11);
  transform: scaleY(0.99);
}
.st5 {
  fill: #dfba5e;
  stroke: #111111;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
.st5:hover {
  fill: rgb(254, 219, 78);
  transform: scaleY(0.99);
}
.st6 {
  fill: #070308;
  transition: all 0.2s;
  cursor: pointer;
}

.st7 {
  fill: #ffffff;
  stroke: #0c0b0d;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
/* .st7:hover{
        transform:scale(0.99);
         transform-origin: center;
    } */
.st8 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
/* .st8:hover{
        transform:scale(0.99);
         transform-origin: center;
    } */
.st9 {
  fill: #ffffff;
  stroke: #f9f9f9;
  stroke-miterlimit: 10;
  transition: all 0.2s;
  cursor: pointer;
}
/* .st9:hover{
        transform:scale(0.99);
         transform-origin: center;
    } */
.tooltip {
  pointer-events: none; /*let mouse events pass through*/
  opacity: 0;
  transition: opacity 0.3s;
  text-shadow: 1px 1px 0px gray;
  /* position:absolute; */
  z-index: 99999;
}

div.tooltip {
  background: lightblue;
  border: solid gray;
  /* position: absolute; */
  max-width: 8em;
  text-align: center;
}
div.fixed {
  position: fixed;
}
g.tooltip:not(.css) {
  fill: currentColor;
}
g.tooltip rect {
  fill: rgb(255, 255, 255);
  stroke: gray;
}
rect:hover + g.tooltip.css {
  opacity: 1;
}
.styling {
  /* border:1px solid #f1f1f1; */
  background: #ff0099;
  color: #fff;
  font-size: 11px !important;
  font-weight: bold;
}
.juntar {
  /* background: #000; */
  margin-bottom: -6px;
}

.separar {
  margin-bottom: 20px;
  border-top: none !important;
}
.unica {
  /* border:1px solid #f1f1f1; */
  /* margin-bottom: -16px; */
  margin-bottom: 20px;
}
.parcela:last-child {
  border-right: 0.1px solid #333;
}
.parcela:hover {
  background: #ddd;
  border-top: 0.1px solid #333;
}
.parcela {
  /* width: calc(80% / 38); */
  /* height: 50px; */
  border: 0.1px solid #333;
  border-right: none;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  /* margin-bottom: 10px; */
}
.svg-container {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-25 0:49:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
</style>