<template>
    <div>
             <el-row style="margin-top:-40px">
            <el-col :md="{span:6, offset:6}">
                <el-button type="danger"  class="w100" @click="ImprimirPdf">Imprimir</el-button>
                <hr>
            </el-col>
            <el-col :md="{span:6, offset:0}">
                <el-button type="default"  class="w100" @click="cancelar">Cancelar</el-button>
                <hr>
            </el-col>
        </el-row>
        <div class="hoja" ref="hoja">
            
           <div class="hoja-header">
                <img src="../assets/logo.png" style="height:60px" alt="">
                <h1 style="float:right; font-size:18px; margin-top:30px;">SOLICITUD DE COMPRA N° {{terreno.terreno.id}}</h1>
            </div>
          <div class="hoja-datos">
              <table>
                  <tr>
                      <td><strong>El/La que suscribe: </strong> </td>
                      <td>  Sr/a: {{terreno.cliente.nombre}}</td>
                  </tr>
                  <tr>
                      <td><strong>Domiciliado/a en:</strong></td>
                  </tr>
                  <tr>
                      <th>Calle: </th>
                      <td>{{terreno.cliente.direccion}}</td>
                       <th>Teléfono: </th>
                      <td>{{terreno.cliente.telefono}}</td>
                  </tr>
                  <tr>
                      <th>Ciudad: </th>
                      <td>{{terreno.cliente.localidad}}</td>
                       <th>Provincia: </th>
                      <td>{{terreno.cliente.provincia}}</td>
                       <th>CP: </th>
                      <td>{{terreno.cliente.cp}}</td>
                  </tr>
                   <tr>
                      <td><strong>Fecha de ingreso:</strong></td>
                      <td>{{terreno.cliente.ingreso | moment('L')}}</td>
                  </tr>
                    <tr>
                      <td><strong>Ocupación:</strong></td>
                      <td>{{terreno.cliente.ocupacion}}</td>
                  </tr>
              </table>
             
        
             
          
                <h4 >Características del Terreno</h4>
                <table class="border">
                    <tr>
                        <th>Sector</th>
                        <td>{{terreno.terreno.sector}}</td>
                    </tr>
                    <tr>
                        <th>Manzana</th>
                        <td>{{terreno.terreno.manzana}}</td>
                    </tr>
                    <tr>
                         <th>Parcela N°</th>
                        <td>{{terreno.terreno.parcela}}</td>
                    </tr>
                    <tr>
                         <th>Cuadro</th>
                        <td>{{terreno.terreno.cuadro}}</td>
                        </tr>
                    <tr>
                           <th>Fila</th>
                        <td>{{terreno.terreno.fila}}</td>
                    </tr>
                </table>
                 <h4>Forma de Pago</h4>
                
               
              <table style="width:100%">
                  <tr>
                  <th >
                      RECIBÍ PESOS: 
                  </th>
                  </tr>
              </table>
              <table style="width:40%; float:left">
                  <tr>
                      <td style="border-bottom:1px dotted #3333; padding-top:40px"></td>
                  </tr>
                  <tr>
                      <td>Parque LOS JAZMINES SRL</td>
                  </tr>
              </table>
              <table style="width:40%; float:right">
               
                  <tr>
                      <td style="border-bottom:1px dotted #3333; padding-top:40px"></td>
                  </tr>
                  <tr>
                      <td>Firma del solicitante: <br> DNI: <br> Aclaración:</td>
                  </tr>
                 
              </table>
                 <div></div>
              <h5 style="padding-top:120px; width:100%; display:block; text-align:center">
                  RUTA PROVINCIAL 344 -KM. 4 - LOS SOSA - MONTEROS (TUCUMÁN)
              </h5>
            </div>
        </div>
             
        
     
    </div>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { HTTP } from '@/axios.js'
    export default {
        props:['terreno'],
        data() {
            return {
                
            }
        },
        created(){
//             EventBus.$on('imprimir', () => {
//   setTimeout(() => {
//                 this.ImprimirPdf()
//             }, 500);
// });
            
 
        },
        methods: {
                cancelar(){
EventBus.$emit('cerrarModal2', false);
            },
   ImprimirPdf()
    {
        var pdf = this.$refs.hoja;
      $('<iframe>', {name: 'ficha',class: 'printFicha'})
        .appendTo('body')
        .contents().find('body')
        .append(`  <style>
        .hoja{
   
   margin: 0px auto;
   position: relative;
   font-family:Arial, Helvetica, sans-serif;
}
       .hoja-datos{
    padding: 20px;
}
p {
    line-height: 1;
    font-size: 16px;
}
.hoja-datos h4{
margin:0;
padding: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 6px 0px;
}
table.border {
margin: 10px auto;
}
table.border th, table.border td{
border: 1px solid #f1f1f1;
border-collapse: collapse;
font-size: 16px;

}
table, th, td {border-bottom: 1px solid #f1f1f1;border-collapse: collapse;}

th, td {padding: 6px;text-align: left; padding-bottom: 5px;}
                  </style>  `)
        .append(pdf);
        window.frames['myiframe'].focus();
       
        setTimeout(() => {  window.frames['ficha'].print(); }, 500);      
        setTimeout(() => { $(".printFicha").remove();  EventBus.$emit('cerrarModal2', false);}, 500);      
    },

        },
    }
</script>

<style >
.hoja{
     /* size: 21cm 29.7cm; */
     width: 1000px;
   margin: 0px auto;
   position: relative;
   font-family:Arial, Helvetica, sans-serif;
}
.hoja-datos{
    padding: 20px;
}
p {
    line-height: 1;
    font-size: 16px;
}
.hoja-datos h4{
margin:0;
padding: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 10px 0px;
}
table.border {
margin: 15px auto;
}
table.border th, table.border td{
border: 1px solid #f1f1f1;
border-collapse: collapse;
font-size: 18px;

}
table, th, td {border-bottom: 1px solid #f1f1f1;border-collapse: collapse;}

th, td {padding: 10px;text-align: left; padding-bottom: 5px;}

.imgCenter {display: block;margin-left: auto;margin-right: auto;width: 40%;}                  

.centerText { text-align: center}
.rightText { text-align: right}
.boldText {font-weight: bold;}
</style>