<template>
    <div>
           <el-row style="margin-top:-40px">
            <el-col :md="{span:6, offset:6}">
                <el-button type="danger" :disabled="!guardar"  class="w100" @click="ImprimirPdf">Imprimir</el-button>
                <hr>
            </el-col>
            <el-col :md="{span:6, offset:0}">
                <el-button type="default"  class="w100" @click="cancelar">Cancelar</el-button>
                <hr>
            </el-col>
        </el-row>
        <div class="hoja" style="text-align:center" v-if="!guardar">
            <p>Para generar la solicitud de expensas deberá ingresar  el tipo de mantenimiento</p>
            <!-- <el-input type="text" v-model="anios"  style="width:120px" placeholder="Años" /> -->
            <el-select v-model="tipo" placeholder="Mantenimiento">
                <el-option value="comun"  label="Común"></el-option>
                <el-option value="placa" label="Con Placa" ></el-option>

            </el-select>
            <!-- <el-input type="text" v-model="tipo"  style="width:120px" /> -->
            <el-button @click="setExpensas(terreno.terreno.anios, terreno.terreno.id)" >Guardar</el-button>
        </div>
        <div class="hoja" ref="hoja" v-if="(terreno.expensas || guardar)">
            
           <div class="hoja-header">
                <img src="../assets/logo.png" style="height:60px" alt="">
                <h1 style="float:right; font-size:18px; margin-top:30px;">SOLICITUD DE EXPENSAS</h1>
            </div>
          <div class="hoja-datos">
              <table>
                  <tr>
                      <td><strong>El/La que suscribe: </strong> </td>
                      <td>  Sr/a: {{terreno.cliente.nombre}}</td>
                  </tr>
                  <tr>
                      <td><strong>Domiciliado/a en:</strong></td>
                  </tr>
                  <tr>
                      <th>Calle: </th>
                      <td>{{terreno.cliente.direccion}}</td>
                       <th>Teléfono: </th>
                      <td>{{terreno.cliente.telefono}}</td>
                  </tr>
                  <tr>
                      <th>Ciudad: </th>
                      <td>{{terreno.cliente.localidad}}</td>
                       <th>Provincia: </th>
                      <td>{{terreno.cliente.provincia}}</td>
                       <th>CP: </th>
                      <td>{{terreno.cliente.cp}}</td>
                  </tr>
                   <tr>
                      <td><strong>Fecha de ingreso:</strong></td>
                      <td>{{terreno.cliente.ingreso | moment('L')}}</td>
                  </tr>
                    <tr>
                      <td><strong>Ocupación:</strong></td>
                      <td>{{terreno.cliente.ocupacion}}</td>
                  </tr>
              </table>
             
        
               <p>Solicito el mantenimiento de la parcela en el cementerio LOS JAZMINES Parque de la Paz, por el termino de <strong> {{terreno.terreno.anios}} años</strong> al concesionario LOS JAZMINES S.R.L.</p>
          
                <h4 >Características de la Parcela</h4>
                <table class="border">
                    <tr>
                        <th>Sector</th>
                        <td>{{terreno.plano.sector}}</td>
                        <th>Manzana</th>
                        <td>{{terreno.plano.manzana}}</td>
                         <th>Parcela N°</th>
                        <td>{{terreno.plano.parcela}}</td>
                         <th>Cuadro</th>
                        <td>{{terreno.plano.cuadro}}</td>
                           <th>Fila</th>
                        <td>{{terreno.plano.fila}}{{terreno.plano.fila_letra}}</td>
                    </tr>
                </table>
                 
                <p>
                    Importe de Expensas de la parcela adquirida, pesos 
                    <strong v-if="terreno.expensas.tipo === 'comun'">${{terreno.parcela.mantenimiento_comun}}</strong>
                    <strong v-if="terreno.expensas.tipo === 'placa'">${{terreno.parcela.mantenimiento_placa}}</strong> por mes durante 
                     <strong> {{terreno.expensas.anios}} años</strong> con vencimiento del 1 al 10 de cada mes.
                     <br>
                     Dichos importes serán abonados a partir de la adquisición de la parcela.
                     <br>
                     Los importes pueden ser modificados sin previo aviso tomando el indice de inflación actualizado.
                     <br>
                     Firma de conformidad de acuerdo al Contrato de Venta y Reglamento Interno que se adjunta con el presente.
                </p>
              <p>
                  Firma de conformidad, de acuerdo a Contrato de Venta y Reglamento interno que se adjunta con la presente copia.
              </p>
             
              <table style="width:40%; float:left">
                  <tr>
                      <td style="border-bottom:1px dotted #3333; padding-top:40px"></td>
                  </tr>
                  <tr>
                      <td>Parque LOS JAZMINES SRL</td>
                  </tr>
              </table>
              <table style="width:40%; float:right">
               
                  <tr>
                      <td style="border-bottom:1px dotted #3333; padding-top:40px"></td>
                  </tr>
                  <tr>
                      <td>Firma del solicitante: <br> DNI: <br> Aclaración:</td>
                  </tr>
                 
              </table>
                 <div></div>
              <h5 style="padding-top:120px; width:100%; display:block; text-align:center">
                  RUTA PROVINCIAL 344 -KM. 4 - LOS SOSA - MONTEROS (TUCUMÁN)
              </h5>
            </div>
        </div>
             
        
      <!-- <el-button @click="ImprimirPdf">Imprimir</el-button> -->
    </div>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { HTTP } from '@/axios.js'
    export default {
        props:['terreno'],
        data() {
            return {
                guardar:false,
                anios:34,
                tipo:''
            }
        },
        created(){
            if(this.terreno.expensas){
                this.guardar = true
            }
//             EventBus.$on('imprimir', () => {
//   setTimeout(() => {
//                 this.ImprimirPdf()
//             }, 500);
// });
            
 
        },
        methods: {
            setExpensas(anios, terreno){
                let expensas = {}
                    expensas.anios = anios
                    expensas.terreno = terreno
                    expensas.tipo = this.tipo
              HTTP.post('/terrenos/expensas', expensas)
                  .then( res => {
                      console.log(res)
                       this.guardar = true
                       this.terreno.expensas = {}
                       this.terreno.expensas.anios = this.anios
                       this.terreno.expensas.tipo = this.tipo
                  })  
            },
             cancelar(){
EventBus.$emit('cerrarModal2', false);
            },
   ImprimirPdf()
    {
        var pdf = this.$refs.hoja;
      $('<iframe>', {name: 'myiframe',class: 'printFrame'})
        .appendTo('body')
        .contents().find('body')
        .append(`  <style>
        .hoja{
   
   margin: 0px auto;
   position: relative;
   font-family:Arial, Helvetica, sans-serif;
}
       .hoja-datos{
    padding: 20px;
}
p {
    line-height: 1;
    font-size: 16px;
}
.hoja-datos h4{
margin:0;
padding: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 6px 0px;
}
table.border {
margin: 10px auto;
}
table.border th, table.border td{
border: 1px solid #f1f1f1;
border-collapse: collapse;
font-size: 16px;

}
table, th, td {border-bottom: 1px solid #f1f1f1;border-collapse: collapse;}

th, td {padding: 6px;text-align: left; padding-bottom: 5px;}
                  </style>  `)
        .append(pdf);
        window.frames['myiframe'].focus();
       
        setTimeout(() => {  window.frames['myiframe'].print(); }, 500);      
        setTimeout(() => { $(".printFrame").remove();  EventBus.$emit('cerrarModal2', false);}, 500);      
    },

        },
    }
</script>

<style >
.hoja{
     /* size: 21cm 29.7cm; */
     width: 800px;
   margin: 0px auto;
   position: relative;
   font-family:Arial, Helvetica, sans-serif;
}
.hoja-datos{
    padding: 20px;
}
p {
    line-height: 1;
    font-size: 16px;
}
.hoja-datos h4{
margin:0;
padding: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 10px 0px;
}
table.border {
margin: 15px auto;
}
table.border th, table.border td{
border: 1px solid #f1f1f1;
border-collapse: collapse;
font-size: 18px;

}
table, th, td {border-bottom: 1px solid #f1f1f1;border-collapse: collapse;}

th, td {padding: 10px;text-align: left; padding-bottom: 5px;}

.imgCenter {display: block;margin-left: auto;margin-right: auto;width: 40%;}                  

.centerText { text-align: center}
.rightText { text-align: right}
.boldText {font-weight: bold;}
</style>