<template>
    <div>
            <el-row style="margin-top:-40px">
            <el-col :md="{span:6, offset:6}">
                <el-button type="danger"  class="w100" @click="ImprimirPdf">Imprimir</el-button>
                <hr>
            </el-col>
            <el-col :md="{span:6, offset:0}">
                <el-button type="default"  class="w100" @click="cancelar">Cancelar</el-button>
                <hr>
            </el-col>
        </el-row>
        <div class="hoja" ref="hoja">
            
           <div class="hoja-header">
                <img src="../assets/logo.png" style="height:60px" alt="">
                <h1 style="float:right; font-size:18px; margin-top:30px;">CONTRATO DE VENTAS N° </h1>
            </div>
          <div class="hoja-datos">
             <p>
                 Entre los Jazmines S.R.L., con domicilio en Ruta Prov. 344 - km 4 - Los Sosa - Monteros. Pcia. de Tucumán. Representada por SANTIAGO G. ROSSI L.E. N° 7.317.753 y 
                 MIGUEL A. EL CHAYER D.N.I. N° 13.189.650, en calidad de socios gerentes, en adelante el concesionario, en su condición de Concesionario de Servicio Público,
                 por una parte y por otra el/la Sr./a: <strong>{{terreno.cliente.nombre}}</strong> D.N.I N°: <strong>{{terreno.cliente.dni}}</strong> domiciliado en: 
                 <strong>{{terreno.cliente.direccion}}, {{terreno.cliente.localidad}}</strong> Provincia: <strong>{{terreno.cliente.provincia}}</strong> Teléfono: <strong>{{terreno.cliente.telefono}}</strong>
                 <br>
                 En adelante el adquiriente, convienen en celebrar el siguiente contrato de Parcelas.
             </p>
             <p>
              <strong>ART.1:</strong> El concesionario vende en subconcesión, al adquiriente <strong>1</strong> parcela de terreno de 1,10 mts. de ancho por 2,40 mts. de largo, destinado a sepultura. <br>
              La subconcesión se efectua por el término de <strong>{{terreno.terreno.anios}} años</strong>; que se contará a partir de la fecha de este contrato. Dicha parcela está ubicada en el 
              Cementerio Parque; ubicado en Km. 3, Ruta 324, Los Sosa, Dpto. Monteros, Pcia. de Tucumán.
             </p>
             <p>
              <strong>ART.2:</strong> El precio de la subconcesión es de Pesos <strong>{{(terreno.terreno.contado) | currency('$', 2, { decimalSeparator: '.' })}}</strong> y se abonará en este acto la suma 
              de Pesos <strong >.............................</strong> y <strong>{{terreno.terreno.cuotas}}</strong> cuotas iguales y consecutivas a partir de la fecha del presente, de Pesos
              <strong>{{terreno.terreno.precio_cuota | currency('$', 2, { decimalSeparator: '.' })}}</strong> cada una, que debe ser abonadas del 5 al 15 de cada mes en domicilio fijado por el concesionario.
             </p>
             <p>
                 <strong>ART.3:</strong> La parcela a la que se refiere el presente contrato, podrá ser transferida por el adquiriente antes de haber efectuado ninguna inhumación. La 
                 trasferencia deberá ser notificada por el adquiriente al concesionario, para que este la intervenga y la empadrone a su nombre. El pafo de los derechos de trasferencia
                 será a cargo del adquiriente.
             </p>
             <p>
                 <strong>ART.5:</strong> El sellado provincial del presente contrato es a cargo exclusivo del adquiriente.
             </p>
            <p>
                 <strong>ART.6:</strong> La falta de pago de conservación y mantenimiento de parcela durante 5 meses, facultará a Los Jazmines S.R.L. a rescindir unilateralmente este 
                 contrato, previa comunicación fehaciente a la otra parte, y se autoriza por medio de la presente a exhumar de esta parcela e inhumar en Osario común situado dentro del mismo predio del cementerio.
             </p>
             <p>
                 <strong>ART.7:</strong> El adquiriente declara conocer y aceptar el Reglamento Interno del cementerio Parque de los Jazmines, el que constituye parte integramente del 
                 presente contrato, como así también acepta las modificaciones que se puedan introducir al mismo. <br>
                 Las partes se somenten a la jurisdicción de los tribunales ordinarios de la ciudad de Concepción, Pcia. de Tucumán, renunciando expresamente al fuero Federal.- 
                 <br>
                 En prueba de conformidad se firman 2(dos) ejemplares con el mismo tenor y a un solo efecto en la zona de Los Sosa, Dpto. Monteros a los <strong >..............</strong> días 
                 del mes de <strong >................................</strong> de 20<strong>......</strong>

             </p>
              
              <table style="width:40%; float:left">
                  <tr>
                      <td style="border-bottom:1px dotted #3333; padding-top:40px"></td>
                  </tr>
                  <tr>
                      <td>Concesionaria</td>
                  </tr>
              </table>
              <table style="width:40%; float:right">
               
                  <tr>
                      <td style="border-bottom:1px dotted #3333; padding-top:40px"></td>
                  </tr>
                  <tr>
                      <td>Adquiriente</td>
                  </tr>
                 
              </table>
                 <div></div>
              <h5 style="padding-top:120px; width:100%; display:block; text-align:center">
                  RUTA PROVINCIAL 344 -KM. 4 - LOS SOSA - MONTEROS (TUCUMÁN)
              </h5>
            </div>
        </div>
             
        
      <!-- <el-button @click="ImprimirPdf">Imprimir</el-button> -->
    </div>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { HTTP } from '@/axios.js'
    export default {
        props:['terreno'],
        data() {
            return {
                
            }
        },
        created(){
//             EventBus.$on('imprimir', () => {
//   setTimeout(() => {
//                 this.ImprimirPdf()
//             }, 500);
// });
            
 
        },
        methods: {
              cancelar(){
EventBus.$emit('cerrarModal2', false);
            },
   ImprimirPdf()
    {
        var pdf = this.$refs.hoja;
      $('<iframe>', {name: 'contrato',class: 'printContrato'})
        .appendTo('body')
        .contents().find('body')
        .append(`  <style>
        .hoja{
   
   margin: 0px auto;
   position: relative;
   font-family:Arial, Helvetica, sans-serif;
}
       .hoja-datos{
    padding: 20px;
}
p {
    line-height: 1.2;
    font-size: 16px;
}
p > strong{
 text-decoration: underline;
}
.hoja-datos h4{
margin:0;
padding: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 6px 0px;
}
table.border {
margin: 10px auto;
}
table.border th, table.border td{
border: 1px solid #f1f1f1;
border-collapse: collapse;
font-size: 16px;

}
table, th, td {border-bottom: 1px solid #f1f1f1;border-collapse: collapse;}

th, td {padding: 6px;text-align: left; padding-bottom: 5px;}
                  </style>  `)
        .append(pdf);
        window.frames['contrato'].focus();
       
        setTimeout(() => {  window.frames['contrato'].print(); }, 500);      
        setTimeout(() => { $(".printContrato").remove();  EventBus.$emit('cerrarModal2', false);}, 500);      
    },

        },
    }
</script>

<style >
.hoja{
     /* size: 21cm 29.7cm; */
     width: 800px;
   margin: 0px auto;
   position: relative;
   font-family:Arial, Helvetica, sans-serif;
}
.hoja-datos{
    padding: 20px;
}
p {
    line-height: 1.2;
    font-size: 16px;
}
p > strong{
 text-decoration: underline;
}
.hoja-datos h4{
margin:0;
padding: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 10px 0px;
}
table.border {
margin: 15px auto;
}
table.border th, table.border td{
border: 1px solid #f1f1f1;
border-collapse: collapse;
font-size: 18px;

}
table, th, td {border-bottom: 1px solid #f1f1f1;border-collapse: collapse;}

th, td {padding: 10px;text-align: left; padding-bottom: 5px;}

.imgCenter {display: block;margin-left: auto;margin-right: auto;width: 40%;}                  

.centerText { text-align: center}
.rightText { text-align: right}
.boldText {font-weight: bold;}
</style>