<template>
    <div>
  <el-row :gutter="20">
              
          <h4 style="padding:10px;">Parcelas adquiridas <el-button @click="nuevoT = true" size="mini" style="float:right; margin:0">Agregar terreno</el-button> </h4>
           <el-col :md="24" :sm="24" style="margin-top:10px"  v-for="terreno in terrenos" :key="terreno.id">
               
               <div v-if="terrenos.length">
               <el-card >
        <el-row  >
        <el-col :md="10">
               <el-row :gutter="20" class="table-col">
                   <el-col :md="12">
                       <strong>SECTOR</strong>
                   </el-col>
                   <el-col :md="12">
                       {{terreno.plano.sector}}
                   </el-col>
               </el-row>
                <el-row :gutter="20" class="table-col">
                   <el-col :md="12">
                       <strong>MANZANA</strong>
                   </el-col>
                   <el-col :md="12">
                       N° {{terreno.plano.manzana}}
                   </el-col>
                </el-row>
                 <el-row :gutter="20" class="table-col">
                    <el-col :md="12">
                       <strong>CUADRO</strong>
                   </el-col>
                   <el-col :md="12">
                       N° {{terreno.plano.cuadro}}
                   </el-col>
                   </el-row>
                 <el-row :gutter="20" class="table-col">
                    <el-col :md="12">
                       <strong>FILA</strong>
                   </el-col>
                   <el-col :md="12">
                       N° {{terreno.plano.fila}}
                   </el-col>
                   </el-row>
                     <el-row :gutter="20" class="table-col">
                    <el-col :md="12">
                       <strong>FILA LETRA</strong>
                   </el-col>
                   <el-col :md="12">
                      {{terreno.plano.fila_letra}}
                   </el-col>
                   </el-row>
                 <el-row :gutter="20" class="table-col">
                    <el-col :md="12">
                       <strong>PARCELA</strong>
                   </el-col>
                   <el-col :md="12">
                       N° {{terreno.plano.parcela}}
                   </el-col>
               </el-row>
                 <el-row :gutter="20" class="table-col">
                    <el-col :md="12">
                       <strong>INHUMADOS</strong>
                   </el-col>
                   <el-col :md="12">
                       ({{terreno.ocupantes.length}} de {{terreno.parcela.espacios}})
                   </el-col>
               </el-row>
        </el-col>
      
        <el-col :md="14">
                <el-row :gutter="10" >
                       <el-col :md="24">
                       
                       <el-button class="w100" type="info" style="margin-top:10px; font-size:12px;" :disabled="!terreno.ocupantes.length"  @click="getPagos(terreno)">Pagos</el-button><br>
                      </el-col>
                    <el-col :md="8">
                       
                       <el-button class="w100" type="success" style="margin-top:10px; font-size:12px; background:#009688; color:white;border-color: #009688;" @click="getPLanilla(terreno,'contrato')">Contrato</el-button><br>
                      </el-col>
                        <el-col :md="8">
                       <el-button class="w100" type="default" style="margin-top:10px; font-size:12px; background:#673AB7; color:white" @click="getPLanilla(terreno,'compra')">Solicitud de compra</el-button> <br>
                     </el-col>
                      <!-- <el-col :md="12">
                       
                       <el-button class="w100" type="success" style="margin-top:10px; font-size:12px; background:#00BCD4; border-color: #00BCD4;color:white"   @click="getPLanilla(terreno, 'ficha')">Ficha Técnica</el-button><br>
                      </el-col> -->
                  
                  
                      <el-col :md="8">
                       
                       <el-button class="w100" type="success" style="margin-top:10px; font-size:12px;" :disabled="!terreno.ocupantes.length"  @click="getPLanilla(terreno, 'expensa')">Expensas</el-button><br>
                      </el-col>
                      
                       <el-col :md="24">
                        <el-button class="w100" type="primary" style="margin-top:10px; font-size:12px;" @click="nuevaInhumacion1(terreno)">Registrar Inhumación</el-button><br>
                    </el-col>
                       <el-col :md="24">
                       <el-button class="w100" type="danger" style="margin-top:10px; font-size:12px;" @click="getBaja(terreno.terreno)">Dar de baja el terreno</el-button><br>
                      
                      
                   </el-col> 
               </el-row>
                 </el-col>
        </el-row>
               </el-card>
               </div>
                <el-card  v-if="!terrenos.length">
               <div>
                   <p>
                       El cliente no tiene asociado ningún terreno. Puede agregar un terreno presionando el botón: <el-button @click="nuevoT = true" size="mini" style="width:100%; margin-top:20px">Agregar terreno</el-button>
                   </p>
               </div>
               
                </el-card>
           </el-col>

      </el-row>
           
      <el-dialog title="Agregar Terreno" :visible.sync="nuevoT" :close-on-click-modal="false" :fullscreen="true">
          <div class="container">
               <plano-cliente  />
          </div>
         

</el-dialog>

 <el-dialog :title="'Dar de baja el terreno #' + selected.id" :visible.sync="baja" :close-on-click-modal="false" width="40%">
     <p>
         Las bajas pueden producirse por falta de pago o por error al agregar el terreno. Para realizar la baja debe ingresar el motivo del mismo.
     </p>
      <el-form  :label-position="'top'" :model="selected" ref="baja" label-width="120px" class="demo-dynamic">
    

   
                <el-form-item
                    prop="motivo_baja"
                    label="Motivo de la baja"
                    :rules="[
                    { required: true, message: 'Campo obligatorio', trigger: 'blur' },
               
                    ]"
                >
                    <el-input type="textarea"  v-model="selected.motivo_baja"></el-input>
                </el-form-item>
       
  </el-form>
  <span slot="footer" class="dialog-footer">
       <el-button style="width:100%; margin-top:-10px; display:block" type="danger" @click="setBaja('baja')">Procesar Baja</el-button><br>
    <el-button style="width:100%; margin-top:-10px; display:block" @click="baja = false">Cancelar</el-button> 
   
  </span>
</el-dialog>
 <el-dialog :title="'Nueva Inhumación'" :visible.sync="nuevaI" :close-on-click-modal="false" width="50%">
   <add-inhumacion :terreno="selectedTerreno" />
</el-dialog>
 <el-dialog  :visible.sync="planilla" :fullscreen="true" >
           <planilla-compra v-if="selectedTerreno.planilla === 'compra'" :terreno="selectedTerreno" :key="nuevoKey"/>      
           <planilla-contrato v-if="selectedTerreno.planilla === 'contrato'" :terreno="selectedTerreno" :key="nuevoKey"/>      
           <planilla-ficha v-if="selectedTerreno.planilla === 'ficha'" :terreno="selectedTerreno" :key="nuevoKey"/>      
           <planilla-expensa v-if="selectedTerreno.planilla === 'expensa'" :terreno="selectedTerreno" :key="nuevoKey"/>      
 </el-dialog>

    </div>
</template>

<script>
    import { HTTP } from '@/axios.js'
    import { EventBus } from '@/event-bus.js'
    import planoCliente from '@/components/planoCliente'
    import AddInhumacion from '@/components/InhumacionDialog'
    import PlanillaCompra from '@/components/PlanillaCompra'
    import PlanillaContrato from '@/components/PlanillaContrato'
    import PlanillaFicha from '@/components/PlanillaFicha'
    import PlanillaExpensa from '@/components/PlanillaExpensa'
    
    export default {
        props:['cliente'],
        components:{
            planoCliente,
           AddInhumacion,
           PlanillaCompra,
           PlanillaContrato,
           PlanillaFicha,
           PlanillaExpensa
        },
        data() {
            return {
                nuevoKey:0,
                planilla:false,
            selectedTerreno: {},
                nuevaI:false,
                selected:{},
                baja:false,
                newTerreno:{},
                nuevoT: false,
                nuevo:'', 
                cliente_id:'',
                terrenos:'',
                 metodos: [{nombre: 'Efectivo'},{nombre: 'Tarjeta'}],
                 cuotas: [1,6,12],
                 parcelas: [],
                 ocupada:false
            }
        },
        created(){
            console.log('this.cliente', this.$route.params.id)
            this.cliente_id = this.$route.params.id
            this.getParcelas();
            this.getTerrenos();
        },
        updated(){
 EventBus.$on('cerrarModal', () => {
  this.nuevaI = false;
  this.nuevoT = false;
  this.getTerrenos();
});
 EventBus.$on('cerrarModal2', () => {
  
  this.planilla = false;

});
        },
         methods: {
             getPLanilla(terreno, planilla){
                this.selectedTerreno = {}
                    this.selectedTerreno = terreno
                    this.selectedTerreno.planilla = planilla
                    this.selectedTerreno.cliente = this.cliente
                   this.nuevoKey += 1;  
                    setTimeout(() => {
                         this.planilla = true;
                         EventBus.$emit('imprimir');
                        
                    }, 500);
                    
             },
             nuevaInhumacion1(terreno){
                    this.selectedTerreno = terreno
                    this.nuevaI = true
             },
             getTerrenos(){
                 HTTP.post('/terrenos', {id: this.cliente_id})
                     .then( res => {
                         console.log('terrenos', res.data)
                         this.terrenos = res.data
                     })
             },
             getPagos(terreno){
                  console.log(terreno)
             },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
              this.newTerreno.cliente_id = this.cliente_id;
            console.log('cliente submit!!', this.newTerreno);
            HTTP.post('/terrenos/agregar', this.newTerreno)
                .then( res => {
                    if(res.status === 201){
                         this.ocupada = res.data
                    }
                    if(res.status === 200){
                      this.newTerreno = {};
                      this.resetForm(formName)
                      this.getTerrenos()
                      this.nuevoT = false;
                    }
                   
                      
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
            setBaja(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            
            HTTP.post('/terrenos/baja', this.selected)
                .then( res => {
                    this.getTerrenos();
                   this.selected ={}
                   this.baja = false
                    
                   this.$message({
          showClose: true,
          message: 'La baja se realizó correctamente',
          type: 'success'
        });
                      
                })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      getBaja(terreno){
this.selected = terreno
this.baja = true
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      regresar(){
          this.$router.push('/')
      },
        getParcelas(){
       HTTP.get('/parcelas')
           .then(res => {
               this.parcelas = res.data
              
           })
    },
    }
    }
</script>

<style scoped>
.table-col{
    border-bottom: 1px solid #f1f1f1;
    padding:10px;
}
.ficha{
    position: relative;
    padding: 10px;
}
.datos-editar a{
     color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
.datos-editar{
    position: absolute;
    top:0;
    background: #437A5A;
    right:0;
    padding:4px;
    color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
.datos{
    position: absolute;
    top:0;
    background: #437A5A;
    left:0;
    padding:4px;
    color: white;
    margin-bottom: 50px;
    font-size: 12px;
}
</style>