<template>
  <div id="app">
     <menu-header />
    <el-row>
      <el-col :md="3" :sm="4">
        
      </el-col>
       <el-col :md="24" :sm="24">
        
          <router-view />
      </el-col>
    </el-row>
   
   
  </div>
</template>

<script>
import MenuHeader from './components/header.vue'


export default {
  name: 'app',
  components: {
    MenuHeader,
    
  }
}
</script>

<style>
body {
  font-family: "Helvetica Neue",Helvetica ,sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #2c3e50;
  padding: 0;
  margin: 0;
  /* margin-top: 60px; */
  
}
.tabla-li{
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 80%;
}
.tabla-li li {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.logo{
  position: absolute;
  right: 0;
  width: 250px;
  padding: 20px;
}
.w100{
  display: block;
  width: 100%;
 
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  max-width: 1170px;
}
hr{
	border-top: 1px solid #f1f1f1;
  margin: 40px auto;
}
@media (min-width: 768px) {
  .container {
    width: 98%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 98%;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 98%;
  }
}



</style>
